.fa-bell-o {
    font-size: 1.8em;
    color: white !important;
}

.fa-power-off {
    font-size: 1.8em;
    color: white !important;
}

a {
	color: white;
	text-decoration: underline;
}

li : hover {
	background-color: transparent !important;  
}