.nav> li> a {
  padding: 10px 0px !important;
  color: #b6ad96;
  max-width: 125px;
  width: 100%;
  margin: 0px 18px;
}
.dropdown-menu {
  border-radius: 0 !important;
}
.nav> li> a.active {
  background-color: #2f3034;
  color: #ccc
}
