.nav> li> a {
  padding: 10px 0px !important;
  color: #59595a;
  max-width: 125px;
  width: 100%;
  margin: 0px 18px;
}
.dropdown-menu {
  border-radius: 0 !important;
}
.nav> li> a.active {
  background-color: #2f3034;
  color: #59595a
}
