.mydp .btnclear, .mydp .btnpicker {
    color: #fff !important;
}

.mydp .btnclear, .mydp .btnpicker {
    background: #2f3034 !important;
}

.mydp, .mydp .headertodaybtn, .mydp .monthinput, .mydp .yearinput {
    border: none !important;
}

