<loading *ngIf="loading"></loading> 
<section id="contact-directory">
    <div class="container">
        <div class="main">
            <div class="title">
                Contact Directory
            </div>
            <p class="id-location">Home > Contact Directory</p>

            <div class="row bg-dark no-margin">
                <div class="col-md-6 col-padding">
                    <h5 style="color:#fff;">Management & Emergency Numbers</h5>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px; border-bottom:0;">
                <div class="col-md-5ths content-column" *ngFor="let emergency of contactEmergency">
                    <b>{{ emergency.name | capitalizeFirst }}</b>
                    <br>
                    <strong>+{{ emergency.contact}}</strong>
                    <br>
                    <div *ngIf="editEmergency == true">
                        <a type="button" style="cursor:pointer; margin-right: 15px; " (click)="preUpdate(emergency) || modalEmergencyForm.open()"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;<u>Edit</u></a>
                        <button type="button" class="btn btn-trash" (click)="deleteConfirmation(emergency._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px;">
                <div class="row content">
                    <div class="col-md-2 pull-right">
                        <a class="btn-underline link-box" *ngIf="editEmergency == false" (click)="editEmergency = !editEmergency">Edit List</a>
                        <a class="btn-underline link-box" *ngIf="editEmergency == true" (click)="editEmergency = !editEmergency">Cancel Edit</a>
                        <a *ngIf="editEmergency == false" (click)="model={} ; model.type_contact = 'management'; submitted =false ; modalEmergencyForm.open()" class="btn-underline link-box">Add List</a>
                    </div>
                </div>
            </div>
            <br>

            <div class="row bg-dark no-margin">
                <div class="col-md-6 col-padding">
                    <h5 style="color:#fff;">Recommended Service Contact</h5>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px; border-bottom:0;">
                <div class="col-md-2 content-column" *ngFor="let others of contactOthers">
                    <span class="title-content">
                        <b *ngIf="others.name" class="break">{{ others.name | capitalizeFirst }}</b>
                        <b *ngIf="!others.name">-</b>
                        <br><span *ngIf="others.service">{{ others.service }}</span>
                        <span *ngIf="!others.service">-</span>
                    </span>
                    <strong>
                        <p>
                        	<p-rating readonly="true" [ngModel]="others.ratings" stars="4" [cancel]="false"></p-rating>
                            <br><span *ngIf="others.contact">Tel: +{{ others.contact }}</span> 
                            <span *ngIf="!others.contact">Tel: -</span> 
                            <br><span *ngIf="others.address" class="break">{{ others.address}}</span>
                            <span *ngIf="!others.address">-</span>
                        </p>
                    </strong>
                    <div *ngIf="editOthers == true">
                        <a type="button" style="cursor:pointer; margin-right: 15px; " (click)="preUpdate(others) || modalOthersForm.open()"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;<u>Edit</u></a>
                        <button type="button" class="btn btn-trash" (click)="deleteConfirmation(others._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px;">
                <div class="row no-margin">
                    <div class="col-md-2 content-column pull-right">
                        <a class="btn-underline link-box" *ngIf="editOthers == false" (click)="editOthers = !editOthers">Edit List</a>
                        <a class="btn-underline link-box" *ngIf="editOthers == true" (click)="editOthers = !editOthers">Cancel Edit</a>
                        <a *ngIf="editOthers == false" (click)="model = {} ; model.type_contact = 'other';  submitted =false ; modalOthersForm.open()" class="btn-underline link-box">Add List</a>
                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row no-margin">
                <button class="btn btn-brown" style="width:100%">Browse all Service Contractors</button>
            </div> -->

            <div class="row">
                <modal #modalEmergencyForm>
                    <modal-header>
                        <h5>Add/Edit Management & Emergency numbers</h5>
                    </modal-header>
                    <modal-content>
                        <form name="form" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.name }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="vehicle">Name :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Input name here" name="name"  [(ngModel)]="model.name" #name="ngModel" required>
                                        <span *ngIf="submitted && !model.name" class="help-block">Name is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.type_contact }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="vehicle">Type of contact :</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="selectedType" [(ngModel)]="model.type_contact">
                                            <option value="management">Management</option>
                                            <option value="emergency">Emergency</option>
                                        </select>
                                        <span *ngIf="submitted && !model.type_contact" class="help-block">Type is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.contact }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="vehicle">Contact No. :</label>
                                    <div class="col-sm-8">
                                        <input type="text" (keypress)="number($event)" class="form-control" placeholder="Input contact no. here" name="contact"  [(ngModel)]="model.contact" #contact="ngModel" required>
                                        <span *ngIf="submitted && !model.contact" class="help-block">Contact No. is required</span>
                                    </div>
                                </div>
                            </div>

                            <br><br><br>
                            <div class="row no-margin pull-bottom-right">
                                <button class="btn btn-primary btn-brown" (click)="submitted = true;saveEmergency(model.contact&&model.name)">Save</button>
                                <button class="btn btn-primary btn-gray" (click)="modalEmergencyForm.close() || clearModel() ">Cancel</button>
                            </div>
                        </form>
                    </modal-content>
                </modal>
            </div>  

            <div class="row">
                <modal #modalOthersForm>
                    <modal-header>
                        <h5>Add/Edit Service contact</h5>
                    </modal-header>
                    <modal-content>
                        <form name="form" #g="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.name }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="name">Name :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Input name here" name="name"  [(ngModel)]="model.name" #name="ngModel" required>
                                        <span *ngIf="submitted && !model.name" class="help-block">Name is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.contact }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="contact">Input contact no. here:</label>
                                    <div class="col-sm-8">
                                        <input type="text" (keypress)="number($event)" class="form-control" placeholder="Input contact no. here" name="contact"  [(ngModel)]="model.contact" #contact="ngModel" required>
                                        <span *ngIf="submitted && !model.contact" class="help-block">Contact No. is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.address }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="address">Address :</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control" placeholder="Input address here" name="address"  [(ngModel)]="model.address" #address="ngModel" required></textarea>
                                        <span *ngIf="submitted && !address.valid" class="help-block">Address is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.register_number }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="register_number">Register No. :</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control" placeholder="Input register no. here" name="register_number"  [(ngModel)]="model.register_number" #register_number="ngModel" required></textarea>
                                        <span *ngIf="submitted && !model.register_number" class="help-block">Register number is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && !model.service }">
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="service">Service :</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control" placeholder="Input service here" name="service"  [(ngModel)]="model.service" #service="ngModel" required></textarea>
                                        <span *ngIf="submitted && !model.service" class="help-block">Service required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="row no-margin">
                                    <label class="control-label col-sm-4" for="website">Website :</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control" placeholder="Input website here" name="service"  [(ngModel)]="model.website" #website="ngModel" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <br><br><br>
                            <div class="row no-margin pull-bottom-right">
                                <button class="btn btn-primary btn-brown" (click)="submitted = true; saveOthers(model.name&&model.contact&&model.address&&model.register_number&&model.service)">Save</button>
                                <button class="btn btn-primary btn-gray" (click)="modalOthersForm.close() || clearModel() || g.submitted = false">Cancel</button>
                            </div>
                        </form>
                    </modal-content>
                </modal>
            </div>
        </div>
    </div>
</section>

