<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div class="title">
          Add Request
        </div>
        <p class="id-location">Home > Manage Request > Add Request</p>
        <form class="form-horizontal col-md-6" name="form" [formGroup]="myForm" #f="ngForm" novalidate enctype="multipart/form-data">
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.petition_type.valid }">
                        <label class="control-label col-sm-4" for="petition_type">Request Type :</label>
                        <div class="col-sm-8">
                            <select [ngClass]="{ 'form-control-blur': myForm.controls.petition_type.value =='' }" class="form-control select-pc" required name="petition_type" id="petition_type" formControlName="petition_type" placeholder="Choose Petition Type">
                                <option disabled  class="blur-font" value="" [selected]=true>Select request type</option>
                                <option value="moving in" >Moving In</option>
                                <option value="moving out" >Moving Out</option>
                                <option value="renovation">Renovation</option>
                                <option value="new tenant">New Tenant</option>
                            </select>
                            <small style="color: red" [hidden]="myForm.controls.petition_type.valid || (myForm.controls.petition_type.pristine && !submitted)">Request type is required</small>
                        </div>  
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.property.valid }">
                        <label class="control-label col-sm-4" for="chief">Unit No :</label>
                        <div class="col-sm-8">
                            <div>
                                <select [ngClass]="{ 'form-control-blur': myForm.controls.property.value =='' }" class="form-control" formControlName="property" name="property">
                                    <option style="color:#999" value="" disabled selected>Select unit no.</option>
                                    <option *ngFor="let u of units" [ngValue]="u._id">#{{u.address.unit_no}}-{{u.address.unit_no_2}}</option>
                                </select>
                                <small style="color: red" [hidden]="myForm.controls.property.valid || (myForm.controls.property.pristine && !submitted)">Unit no is required</small>
                            </div>
                        </div>
                    </div>

                     <div class="form-group"  *ngIf="myForm.controls.petition_type.value=='new tenant'"  [ngClass]="{ 'has-error': submitted && !model.tenant.name }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Tenant's Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" [(ngModel)]="model.tenant.name" required [ngModelOptions]="{standalone: true}" placeholder="Input tenant's name here"/>
                                    <small style="color: red" *ngIf="!model.tenant.name && submitted">Tenant's name required</small>
                                </div>
                            </div>
                        </div>

                    <div class="form-group" *ngIf="myForm.controls.petition_type.value=='new tenant'"  [ngClass]="{ 'has-error': submitted && !model.tenant.salulation }">
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="type">Salutation :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="salulation" [(ngModel)]="model.tenant.salulation" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'form-control-blur': model.tenant.salulation ==undefined }" >
                                        <option disabled hidden value="undefined">Select salutation</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Ms">Ms</option>
                                    </select>
                                     <small style="color: red" *ngIf="!model.tenant.salulation && submitted">Salutation is required</small>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group"  *ngIf="myForm.controls.petition_type.value=='new tenant'" [ngClass]="{ 'has-error': submitted && !model.tenant.phone }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Tenant's Phone :</label>
                                <div class="col-sm-8">
                                    <input (keypress)="number($event)" type="text" class="form-control" name="phone" [(ngModel)]="model.tenant.phone" required [ngModelOptions]="{standalone: true}" placeholder="Input tenant's phone here"/>
                                    <small style="color: red" *ngIf="!model.tenant.phone && submitted">Salulation is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" >
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="type">Select Company :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" (change)="companyChange($event)" name="company" [(ngModel)]="model.company" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'form-control-blur': model.company == '' }" >
                                        <option  class="blur-font" disabled selected hidden value="">Select company</option>
                                        <option *ngFor="let u of companies" [ngValue]="u._id">{{u.name}}</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>  
                         <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !company.name }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Contractor name :</label>
                                <div class="col-sm-8">
                                    <input type="text" [attr.disabled]="model.company!='others' && model.company!=''?true:null" class="form-control" name="company_name" [(ngModel)]="company.name" placeholder="Input contractor name here" required [ngModelOptions]="{standalone: true}"/>
                                     <small style="color: red" *ngIf="!company.name && submitted">Contractor name is required</small>
                                </div>
                            </div>
                        </div>
                         <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !company.business_registration }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Contractor Reg no :</label>
                                <div class="col-sm-8">
                                    <input type="text" [attr.disabled]="model.company!='others' && model.company!=''?true:null" class="form-control" name="company_name" [(ngModel)]="company.business_registration" placeholder="Input contractor reg no. here" required [ngModelOptions]="{standalone: true}"/>
                                    <small style="color: red" *ngIf="!company.business_registration && submitted">Contractor reg no. is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !company.address.full_address }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Contractor Address :</label>
                                <div class="col-sm-8">
                                    <input type="text" [attr.disabled]="model.company!='others' && model.company!=''?true:null" class="form-control" name="company_name" [(ngModel)]="company.address.full_address" placeholder="Input contractor address here" required [ngModelOptions]="{standalone: true}"/>
                                    <small style="color: red" *ngIf="!company.address.full_address && submitted">Contractor address is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !company.phone }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Contractor Contact no :</label>
                                <div class="col-sm-8">
                                    <input (keypress)="number($event)" type="text" [attr.disabled]="model.company!='others' && model.company!=''?true:null" class="form-control" name="company_name" [(ngModel)]="company.phone" placeholder="Input contractor contact no. here" required [ngModelOptions]="{standalone: true}"/>
                                    <small style="color: red" *ngIf="!company.phone && submitted">Contractor contact no. is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !company.email }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="phone">Contractor Email :</label>
                                <div class="col-sm-8">
                                    <input type="text" [attr.disabled]="model.company!='others' && model.company!=''?true:null" class="form-control" placeholder="Input contractor email here" name="company_name" [(ngModel)]="company.email" required [ngModelOptions]="{standalone: true}"/>
                                    <small style="color: red" *ngIf="!company.email && submitted">Contrator email is required</small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !model.start_time }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="vehicle">Commence date :</label>
                                <div class="col-sm-8">
                                    <my-date-picker [placeholder]="'Select commence date'" class="bg-white" [options]="dateOptions" (dateChanged)="dateCommenceChanged($event,'start')"></my-date-picker>
                                     <small style="color: red" *ngIf="!model.start_time && submitted">Commence date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.petition_type.value!='new tenant' && myForm.controls.petition_type.value!=''" [ngClass]="{ 'has-error': submitted && !model.end_time }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="vehicle">Estimate date of completion :</label>
                                <div class="col-sm-8">
                                    <my-date-picker [placeholder]="'Select estimate date of completion'" class="bg-white" [options]="dateOptions" (dateChanged)="dateCommenceChanged($event,'end')"></my-date-picker>
                                     <small style="color: red" *ngIf="!model.end_time && submitted">Estimate date of completion is required</small>
                                </div>
                            </div>
                        </div>
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && model.attachment.length == 0 }">
                        <label class="control-label col-sm-4" for="attachment">Attachment :</label>
                        <div class="col-sm-8">
                            <input type="file" multiple class="upload" class="upload inputfile" id="file" name="attachment" (change)="onChange($event)" />
                            <label class="btn btn-upload" for="file">Add Media</label>
                            <p *ngFor="let item of model.attachment; let i=index ">
                                <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;  
                                <span style="text-decoration: underline;">{{item.name}}_{{item.size/1024 | number:'1.0-0'}}kb</span> &nbsp;   
                                <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>

                            </p>
                             <small class="help-block" style="color: red" *ngIf="model.attachment.length == 0 && submitted">Attachment is required</small>
                        </div>
                    </div>

            <!-- <div class="form-group" [ngClass]="{'has-error': submitted && !myForm.controls.contract.valid}">
                <label class="control-label col-sm-4" for="contract">Contract :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Input contract here" name="contract" formControlName="contract">
                    <small style="color: red" [hidden]="myForm.controls.contract.valid || (myForm.controls.contract.pristine && !submitted)">Contract is required</small>
                </div>
            </div> -->
            <div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.remark.valid }">
                <label class="control-label col-sm-4" for="remark">Remark :</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" placeholder="Input remark here" name="remark" formControlName="remark"></textarea>
                    <small style="color: red" [hidden]="myForm.controls.remark.valid || (myForm.controls.remark.pristine && !submitted)">Remark is required and at least 3 character</small>
                </div>
            </div>

            <div class="form-group pull-right">
                <button [disabled]="loading" (click)="createPetition(myForm.value, myForm.valid)" class="btn btn-primary btn-brown">Save
                    <span>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </span>
                </button>
                <a (click)="goToPetition()" class="btn btn-white">Cancel</a>
            </div>
        </form>
    </div>
</div>
