<loading *ngIf="loading"></loading> 
<div class="container has-select2">
    <div class="main">
    <!-- Edit USER-GROUP -->
        <div *ngIf="usergroup">
            <div class="title">
                Edit Usergroup
            </div>
            <p class="id-location">Home > Usergroup > Edit</p>
            <form class="form-horizontal col-md-6" name="form" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                    <label class="control-label col-sm-4" for="description">Description :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="description" [(ngModel)]="usergroup.description" #description="ngModel" required placeholder=" Input description here" />
                        <span *ngIf="f.submitted && !description.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.chief }">
                    <label class="control-label col-sm-4" for="chief">Chief :</label>
                    <div class="col-sm-8">
                          <div style="margin-bottom: 20px;">
                            <select [ngClass]="{ 'form-control-blur': model.chief =='' }"  class="form-control" name="chief" [(ngModel)]="model.chief">
                                <option value="" disabled selected>Select chief</option>
                                <option *ngFor="let u of users" [ngValue]="u._id">{{u.username}}</option>
                            </select>
                            <span *ngIf="f.submitted && !model.chief" class="help-block">Chef No is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-sm-4" for="chief">Users :</label>
                    <div class="col-sm-8">
                        <div style="margin-bottom: 20px;" class="usergroup">
                            <ng-select 
                                      
                                      [multiple]="true"
                                      [items]="items2"
                                      [disabled]="disabled"
                                      (data)="refreshValueUser($event)"
                                      (selected)="selected($event)"
                                      (removed)="removed($event)"
                                      [active] = "user"
                                      placeholder="   Select users">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" (click)="updateUserGroup()" class="btn btn-brown btn-primary">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button (click)="goToUserGroup()" class="btn btn-white">Cancel</button>
                </div>
            </form>
        </div>
    <!-- ADD USER-GROUP -->

        <div *ngIf="!usergroup">
            <div class="title">
                Add User Group
            </div>
            <p class="id-location">Home > User Group > Add </p>
            <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createUserGroup()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                    <label class="control-label col-md-4" for="description">Description :</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required placeholder=" Input description here" />
                        <span *ngIf="f.submitted && !description.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.chief }">
                    <label class="control-label col-md-4" for="chief">Chief :</label>
                    <div class="col-md-8">
                        <div>
                            <select [ngClass]="{ 'form-control-blur': model.chief =='' }"  class="form-control select-pc" name="chief" [(ngModel)]="model.chief">
                                <option style="color:gray !important" value="" disabled selected>Select chief</option>
                                <option *ngFor="let u of users" [ngValue]="u._id">{{u.username}}</option>
                            </select>
                            <span *ngIf="f.submitted && !model.chief" class="help-block">Chief is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="chief">Users :</label>
                    <div class="col-md-8">
                        <div class="styled-select usergroup">
                            <ng-select 
                                          [multiple]="true"
                                          [items]="items2"
                                          [disabled]="disabled"
                                          (data)="refreshValueUser($event)"
                                          (selected)="selected($event)"
                                          (removed)="removed($event)"
                                          placeholder="   Select users">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                        <button [disabled]="loading" class="btn btn-primary btn-brown">Save</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <button (click)="goToUserGroup()" class="btn btn-white">Cancel</button>
                </div>
            </form>       
        </div>
    </div>
</div>
