<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div *ngIf="user">
            <div class="title">
                Edit User
            </div>
            <p class="id-location">Home > User > Edit User {{user.username}}</p>
            <form [formGroup]="myForm" class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && updateUser(myForm.value)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Username :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="username" formControlName="username" required placeholder="Input username here" />
                        <small *ngIf="f.submitted && !myForm.controls.username.valid" class="text-danger">
                        Name is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">Email :</label>
                    <div class="col-sm-8">
                        <input type="email" (change)="validate($event)" class="form-control" name="email" formControlName="email" placeholder="Input email here"/>
                        <small *ngIf="f.submitted && !myForm.controls.email.valid" class="text-danger">
                            Email is required
                        </small>
                        <small *ngIf="f.submitted && emailError" class="text-danger">
                            Invalid email address
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="phone">Phone :</label>
                    <div class="col-sm-8">
                        <input (keypress)="number($event)" type="text" class="form-control" name="phone" formControlName="phone" required placeholder="Input phone number here"/>
                        <small *ngIf="f.submitted && !myForm.controls.phone.valid" class="text-danger">
                            Phone is required
                        </small>                    
                    </div>
                </div>
                <div class="form-group" *ngIf="user.role == 'user'">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="gender">Gender :</label>
                                <div class="col-sm-8">
                                    <select class="form-control"  formControlName="gender" name="gender" [ngClass]="{ 'form-control-blur': myForm.controls.gender.value =='' }" >
                                        <option value=""  class="blur-font" disabled selected>Select gender</option>
                                        <option [selected]="myForm.controls.gender.value == 'Female' || myForm.controls.gender.value == 'female'" value="female">Female</option>
                                        <option [selected]="myForm.controls.gender.value == 'Male' || myForm.controls.gender.value == 'male'" value="male">Male</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                          <div class="form-group" *ngIf="user.role == 'user'">
                             <div class="row no-margin">
                                <label class="control-label col-sm-4" for="salulation">Salutation :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="salulation" name="salulation" [ngClass]="{ 'form-control-blur': myForm.controls.salulation.value =='' }" >
                                        <option value=""  class="blur-font" disabled selected>Select salutation</option>
                                        <option *ngIf="myForm.controls.gender.value == 'male' || myForm.controls.gender.value == 'Male'" [selected]="myForm.controls.salulation.value == 'mr' || myForm.controls.salulation.value == 'Mr'" value="mr">Mr</option>
                                        <option *ngIf="myForm.controls.gender.value == 'female' || myForm.controls.gender.value == 'Female'" [selected]="myForm.controls.salulation.value == 'mrs' || myForm.controls.salulation.value == 'Mrs'" value="mrs">Mrs</option>
                                        <option *ngIf="myForm.controls.gender.value == 'female' || myForm.controls.gender.value == 'Fale'" [selected]="myForm.controls.salulation.value == 'ms' || myForm.controls.salulation.value == 'Ms'" value="ms">Ms</option>
                                    </select>
                                    <small *ngIf="f.submitted && !myForm.controls.salulation.valid" class="text-danger">
                                    Salutation is required
                                    </small>
                                </div>
                            </div>
                        </div>
               <!--  <div class="form-group">
                  <label class="control-label col-sm-4" for="role">Role :</label>
                  <div class="col-sm-8">
                        <select class="form-control" name="role" id="role" formControlName="role" placeholder="Choose role">
                            <option value="admin">Admin</option>
                            <option value="user" selected>User</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.role.valid" class="text-danger">
                            Role is required
                        </small> 
                  </div>  
                </div> -->
                <!-- <div class="form-group">
                    <label class="control-label col-sm-4" for="status">Status :</label>
                    <div class="col-sm-8">
                        <select required class="form-control" formControlName="active" name="active" id="active" placeholder="Choose status">
                            <option value=true selected>Active</option>
                            <option value=false>Inactive</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.active.valid" class="text-danger">
                        Status is required
                        </small>
                    </div>
                </div> -->
                <!-- <div formGroupName="default_property"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Default Property</span>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="units">
                                <div class="form-group col-xs-10">
                                    <label>Unit No :</label>
                                    <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">
                                        <option *ngFor="let unit of units" [ngValue]="unit._id">
                                            #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-10">
                                <label>Role :</label>
                                <select required class="form-control" formControlName="role" name="role" id="role" placeholder="Choose role">
                                    <option value="landlord">Landlord</option>
                                    <option value="tenant" selected>Tenant</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
               <!--  <div *ngIf="type == 'tenant'" formGroupName="rented_property"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Rented Property</span>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="units">
                                <div class="form-group col-xs-10">
                                    <label>Unit No :</label>
                                    <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">
                                        <option *ngFor="let unit of units" [ngValue]="unit._id">
                                            #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--owned-->
              <!--   <div *ngIf="type == 'landlord'" formArrayName="owned_property">          
                    <div *ngFor="let owned of myForm.controls.owned_property.controls; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>Owned Property {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.owned_property.controls.length > 1" (click)="removeOwned(i)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="i">
                            <div *ngIf="units">
                                <div class="form-group col-xs-10">
                                    <label>Unit No :</label>
                                    <div>
                                        <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">
                                            <option *ngFor="let unit of units" [ngValue]="unit._id">
                                                 #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                            </option>
                                        </select>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
               <!--  <div class="margin-20">
                    <a (click)="addOwned()" style="cursor: default">
                        <p>Add another Owned Property +</p>
                        <br/>
                    </a>
                </div> -->           
               <!--  <div formArrayName="authorized_property">
                    <div *ngFor="let authorized of myForm.controls.authorized_property.controls; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>Authorized Property {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.authorized_property.controls.length > 1" (click)="removeAuthorized(i)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="i">
                            <div>   
                                <div *ngIf="units">
                                    <div class="form-group col-xs-10">
                                        <label for="property">Unit No :</label>
                                        <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">
                                            <option *ngFor="let unit of units" [ngValue]="unit._id">
                                                #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>    
                        </div>    
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addAuthorized()" style="cursor: default">
                        Add another Authorized Property +
                    </a>
                </div> -->
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Save</button>
                    <a (click)="cancel()" class="btn btn-white">Cancel</a>
                </div>
            </form>
        </div>

<!-- ADD USER -->

        <div *ngIf="!user">
            <div class="title">
                Add User
            </div>
            <p class="id-location">Home > User > Add User</p>
            <form [formGroup]="myForm" class="form-horizontal col-md-6" name="form" (ngSubmit)="createUser(myForm.value, myForm.valid)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Username :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="username" (change)="checkValid($event, 'username')" formControlName="username" required placeholder="Input username here" />
                        <small *ngIf="f.submitted && !myForm.controls.username.valid" class="text-danger">
                            Name is required and at least 3 character
                        </small>
                        <small *ngIf="usernameError" class="text-danger">
                            {{usernameErrorMessage}}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">Email :</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" name="email" (change)="checkValid($event, 'email')" formControlName="email" placeholder="Input email here"/>
                        <small *ngIf="f.submitted && !myForm.controls.email.valid" class="text-danger">
                            Email is required
                        </small>
                        <small *ngIf="emailError" class="text-danger">
                            {{emailErrorMessage}}
                        </small>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-sm-4" for="password">Password :</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="password" formControlName="password" required validateEqual="confirmpassword" reverse="true" placeholder="Input password here"/>
                        <small *ngIf="f.submitted && !myForm.controls.password.valid" class="text-danger">
                        Password is required and at least 6 character
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="confirmpassword">Retype password :</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="confirmpassword" formControlName="confirmpassword" required validateEqual="password" reverse="false" placeholder="Re-input password here">
                        <small *ngIf="f.submitted && myForm.value.confirmpassword != myForm.value.password" class="text-danger">
                            password mismatch
                        </small>
                    </div>                
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="phone">Phone :</label>
                    <div class="col-sm-8">
                        <input (keypress)="number($event)" type="text" class="form-control" name="phone" formControlName="phone" required placeholder="Input phone number here"/>
                        <small *ngIf="f.submitted && !myForm.controls.phone.valid" class="text-danger">
                            Phone is required
                        </small>                    
                    </div>
                </div>
                
                <div class="form-group" *ngIf="type" >
                    <label class="control-label col-sm-4" for="phone">Remarks :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="remarks" formControlName="remarks" required placeholder="Input remarks here"/>                
                    </div>
                </div>
                <div [hidden]="type" class="form-group">
                  <label class="control-label col-sm-4" for="role">Role :</label>
                  <div class="col-sm-8">
                        <select  [ngClass]="{ 'form-control-blur': myForm.controls.role.value =='' }" class="form-control" name="role" id="role" formControlName="role" placeholder="Choose role">
                            <option disabled="disabled" [selected]=true value="">Select role</option>
                            <option value="admin">Admin</option>
                            <option value="user" selected>User</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.role.valid" class="text-danger">
                            Role is required
                        </small> 
                  </div>  
                </div>
                <div class="form-group" *ngIf="myForm.controls.role.value == 'user'" formGroupName="details">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="username">First name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="first_name" formControlName="first_name" required placeholder="Input first name here" />
                                    <small *ngIf="f.submitted && myForm.controls.details.controls.first_name.value=='' " class="text-danger">
                                    First name is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.role.value == 'user'" formGroupName="details">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="username">Last name :</label>
                                <div class="col-sm-8">
                                    <input type="text"  class="form-control" name="last_name" formControlName="last_name" required placeholder="Input last name here" />
                                    <small *ngIf="f.submitted && myForm.controls.details.controls.last_name.value=='' " class="text-danger">
                                    Last name is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="myForm.controls.role.value == 'user'" formGroupName="details">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="identification_no">ID number :</label>
                                <div class="col-sm-8">
                                    <input type="text"  class="form-control" name="identification_no" formControlName="identification_no" required placeholder="Input ID number here" />
                                    <small *ngIf="f.submitted && myForm.controls.details.controls.identification_no.value=='' " class="text-danger">
                                    ID number is required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="myForm.controls.role.value == 'user'">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="gender">Gender :</label>
                                <div class="col-sm-8">
                                    <select class="form-control"  formControlName="gender" name="gender" [ngClass]="{ 'form-control-blur': myForm.controls.gender.value =='' }" >
                                        <option value=""  class="blur-font" disabled selected>Select gender</option>
                                        <option [selected]="myForm.controls.gender.value == 'Female' || myForm.controls.gender.value == 'female'" value="female">Female</option>
                                        <option [selected]="myForm.controls.gender.value == 'Male' || myForm.controls.gender.value == 'male'" value="male">Male</option>
                                    </select>
                                    <small *ngIf="f.submitted && myForm.controls.gender.value==''" class="text-danger">
                                    Gender is required
                                    </small>
                                </div>
                            </div>
                        </div>
                          <div class="form-group" *ngIf="myForm.controls.role.value == 'user'">
                             <div class="row no-margin">
                                <label class="control-label col-sm-4" for="salulation">Salutation :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="salulation" name="salulation" [ngClass]="{ 'form-control-blur': myForm.controls.salulation.value =='' }" >
                                        <option value=""  class="blur-font" disabled selected>Select salutation</option>
                                        <option *ngIf="myForm.controls.gender.value == 'male' || myForm.controls.gender.value == 'Male'" [selected]="myForm.controls.salulation.value == 'mr' || myForm.controls.salulation.value == 'Mr'" value="mr">Mr</option>
                                        <option *ngIf="myForm.controls.gender.value == 'female' || myForm.controls.gender.value == 'Female'" [selected]="myForm.controls.salulation.value == 'mrs' || myForm.controls.salulation.value == 'Mrs'" value="mrs">Mrs</option>
                                        <option *ngIf="myForm.controls.gender.value == 'female' || myForm.controls.gender.value == 'Fale'" [selected]="myForm.controls.salulation.value == 'ms' || myForm.controls.salulation.value == 'Ms'" value="ms">Ms</option>
                                    </select>
                                    <small *ngIf="f.submitted && myForm.controls.salulation.value==''" class="text-danger">
                                    Salutation is required
                                    </small>
                                </div>
                            </div>
                        </div>
               <!--  <div [hidden]="type" formGroupName="default_property"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Default Property</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-xs-10">
                                <label class="control-label" for="property">Unit No :</label>
                                <div *ngIf="units">
                                    <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">              
                                        <option *ngFor="let unit of units" [ngValue]="unit._id">
                                            #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-10">
                                <label>Role :</label>
                                <select required class="form-control" formControlName="role" name="role" id="role" placeholder="Choose role">
                                    <option value="landlord">Landlord</option>
                                    <option value="tenant" selected>Tenant</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div [hidden]="type == 'landlord'" *ngIf="type == 'tenant'" formGroupName="rented_property"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Rented Property</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-xs-10">
                                <label class="control-label" for="property">Unit No :</label>
                                <div *ngIf="units">
                                    <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">              
                                        <option *ngFor="let unit of units" [selected]="id == unit._id" [ngValue]="unit._id">
                                            #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--owned-->
                <div [hidden]="type == 'tenant'" *ngIf="type == 'landlord'" formArrayName="owned_property">          
                    <div *ngFor="let owned of myForm.controls.owned_property.controls; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>Owned Property {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.owned_property.controls.length > 1" (click)="removeOwned(i)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="i">      
                            <div class="form-group col-xs-10">
                                <label class="control-label" for="property">Unit No :</label>
                                <div *ngIf="units">
                                    <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">              
                                        <option *ngFor="let unit of units" [selected]="id == unit._id" [ngValue]="unit._id">
                                            #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  <div *ngIf="!type" class="margin-20">
                    <a (click)="addOwned()" style="cursor: default">
                        Add another Owned Property +
                    </a>
                </div>           
                <div [hidden]="type" formArrayName="authorized_property">
                    <div *ngFor="let authorized of myForm.controls.authorized_property.controls; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>Authorized Property {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.authorized_property.controls.length > 1" (click)="removeAuthorized(i)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="i">
                           
                            <div>   
                                <div class="form-group col-xs-10">
                                    <label class="control-label" for="property">Unit No :</label>
                                    <div *ngIf="units">
                                    <select class="form-control" name="property" id="property" formControlName="property" placeholder="Choose property">              
                                        <option *ngFor="let unit of units" [ngValue]="unit._id">
                                            #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                                        </option>
                                    </select>
                                </div>
                                </div>
                            </div>    
                        </div>    
                    </div>
                </div> -->
               <!--  <div *ngIf="!type" class="margin-20">
                    <a (click)="addAuthorized()" style="cursor: default">
                        Add another Authorized Property +
                    </a>
                </div> -->
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Save</button>
                    <a (click)="cancel()" class="btn btn-white">Cancel</a>
                </div>
            </form>       
        </div>
    </div>
</div>
          