<div class="container">
    <div class="main">
    	<div class="title">
			Access Control
		</div>
		Home > Resident Access Control
		<div class="row">
			<div class="col-md-4 pull-right">
				<a class="btn btn-default pull-right" (click)="add()">
				<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Access Control</a>	  		
			</div>
		</div>
		<div (click)="$event.preventDefault()">
		  	<tabset>
			  	<!-- Card -->
			    <tab heading="Access Cards">
			    	<p-dataTable [value]="card" [rows]="10" [paginator]="true">
					    <p-column field="card_no" header="Card No." sortable="true" [filter]="true" filterPlaceholder="Search Card No."></p-column>
					    <p-column field="issued_to" header="Issued to" sortable="true" [filter]="true" filterPlaceholder="Search Issued to"></p-column>
					    <p-column field="property" header="Unit No." sortable="true" [filter]="true" filterPlaceholder="Search Unit No."></p-column>
					    <p-column field="access_level" header="Access Level" sortable="true" [filter]="true" filterPlaceholder="Search Access Level"></p-column>
					    <p-column field="issued_by" header="Issued by" sortable="true" [filter]="true" filterPlaceholder="Search Issued by"></p-column>
					    <p-column field="issued_on" header="Issued on" sortable="true" [filter]="true" filterPlaceholder="Search Issued on"></p-column>
					    <p-column field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search Status">
					        <template let-col let-data="rowData" pTemplate="body">
					            <span [style.color]="data[col.field]">{{data[col.field]}}</span>
					        </template>
					    </p-column>
					    <p-column styleClass="col-button" header="action">
					    	<template let-data="rowData" pTemplate="body">
					    		<button type="button" (click)="edit(data)">Edit</button>
								<button type="button" (click)="deleteAccessControl(data)">Delete</button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			    <!-- TRANSPONDER -->
			    <tab heading="Transponder">
			    	<p-dataTable [value]="transponder" [rows]="10" [paginator]="true">
					    <p-column field="card_no" header="Card No." sortable="true" [filter]="true" filterPlaceholder="Search Card No."></p-column>
					    <p-column field="issued_to" header="Issued to" sortable="true" [filter]="true" filterPlaceholder="Search Issued to"></p-column>
					    <p-column field="property" header="Unit No." sortable="true" [filter]="true" filterPlaceholder="Search Unit No."></p-column>
					    <p-column field="access_level" header="Access Level" sortable="true" [filter]="true" filterPlaceholder="Search Access Level"></p-column>
					    <p-column field="issued_by" header="Issued by" sortable="true" [filter]="true" filterPlaceholder="Search Issued by"></p-column>
					    <p-column field="issued_on" header="Issued on" sortable="true" [filter]="true" filterPlaceholder="Search Issued on"></p-column>
					    <p-column field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search Status">
					        <template let-col let-data="rowData" pTemplate="body">
					            <span [style.color]="data[col.field]">{{data[col.field]}}</span>
					        </template>
					    </p-column>
					    <p-column styleClass="col-button" header="action">
					    	<template let-data="rowData" pTemplate="body">
					    		<button type="button" (click)="edit(data)">Edit</button>
								<button type="button" (click)="deleteAccessControl(data)">Delete</button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
		  	</tabset>
		</div>
    </div>
</div>