<div class="container">
	<div class="main">
		<div class="title">
			Manage Annoncement
		</div>
		Home > Manage Annoncement
		<div class="row">
			<div class="col-md-4 pull-right">
					  		<a class="btn btn-default pull-right" [routerLink]="['/announcement/add']">
					  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Make an Announcement</a>
					  		
			</div>
		</div>
		<div (click)="$event.preventDefault()">
		  <tabset>
		    <tab heading="Draft">
		    	<p-dataTable [value]="announcementsDrafted" [rows]="10"  resizableColumns="true" [paginator]="true">
				    <p-column field="title" header="Title" sortable="true" [filter]="true" filterPlaceholder="Search title"></p-column>
				    <p-column field="message" header="Message" sortable="true" [filter]="true" filterPlaceholder="Search Message"></p-column>
				    <p-column field="sticky" header="Sticky?" sortable="true" [filter]="true"></p-column>
				    <p-column field="auto_post_on" header="Auto pot on" sortable="true" [filter]="true" filterPlaceholder="Search Date "></p-column>
				    <p-column field="valid_till" header="Valid till" sortable="true" [filter]="true" filterPlaceholder="Search Date "></p-column>
				    <p-column field="created_at" header="Created on" sortable="true" [filter]="true" filterPlaceholder="Search Date "></p-column>
				    <p-column [style]="{'width':'300px'}" styleClass="col-button" header="action">
				    	<template class="pull-right" let-announcementsDrafted="rowData" pTemplate="body">
				    	<a type="button" style="cursor:pointer" (click)="editAnnouncement(announcementsDrafted)"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit</a>
				    	<button type="button" class="btn btn-primary btn-xs" (click)="openModal(announcementsDrafted) || firstModal.open()">Publish</button>
				        <button  type="button" (click)="deleteAnnouncement(announcementsDrafted)"><i class="fa fa-trash" aria-hidden="true"></i></button>
				    	</template>
				    </p-column>
				</p-dataTable>
		    </tab>	
		    <tab heading="Published">
		    	<p-dataTable [value]="announcementsPublished" [rows]="10"  resizableColumns="true" [paginator]="true">
				    <p-column field="title" header="Title" sortable="true" [filter]="true" filterPlaceholder="Search title"></p-column>
				    <p-column field="message" header="Message" sortable="true" [filter]="true" filterPlaceholder="Search Message"></p-column>
				    <p-column field="sticky" header="Sticky?" sortable="true" [filter]="true"></p-column>
				    <p-column field="valid_till" header="Valid till" sortable="true" [filter]="true" filterPlaceholder="Search Date "></p-column>
				    <p-column field="created_at" header="Created on" sortable="true" [filter]="true" filterPlaceholder="Search Date "></p-column>
				    <p-column field="created_by" header="Created by" sortable="true" [filter]="true" filterPlaceholder="Search Date "></p-column>
				    <p-column styleClass="col-button">
				    	<template class="pull-right" let-announcementsPublished="rowData" pTemplate="body">
				        <button  type="button" (click)="deleteAnnouncement(announcementsPublished)"><i class="fa fa-trash" aria-hidden="true"></i></button>
				        </template>
				    </p-column>
				</p-dataTable>
		    </tab>	
		  </tabset>
		</div>

		<div class="row">
		    
		    <modal #firstModal>
		        <modal-header>
		            <h5>Publish Announcement</h5>
		        </modal-header>
		        <modal-content>

		           <div *ngIf="announcement">
		              

		              <form class="form-horizontal col-md-6" name="form">
		                <div class="form-group">
		                    <label class="control-label col-sm-4" for="sticky">Sticky? :</label>
		                    <div class="col-sm-8">
		                        <label><input type="radio" name="sticky" [checked]="announcement.sticky == 'yes'" [(ngModel)]="announcement.sticky" [value]='yes'>Yes</label>
		                        <label><input type="radio" name="sticky" [checked]="announcement.sticky == 'no'" [(ngModel)]="announcement.sticky" [value]='no'>No</label>     
		                    </div>
		                </div>
		                <div class="form-group" >
		                    <label class="control-label col-sm-4" for="valid_till">Valid till :</label>
		                    <div class="col-sm-8">
		                    <my-date-picker [options]="validTillDateOptions"
                            [selDate]="this.announcement.valid_till" (dateChanged)="validTillDateChanged($event)"></my-date-picker>
		                       
		                    </div>
		                </div>
		                <div class="form-group pull-right">
		                    <button  class="btn btn-primary" (click)="publishAnnouncement()">Announce</button>
		                </div>
		            </form>   
		           </div>
		        </modal-content>
		        <modal-footer>
		            <button class="btn btn-primary" (click)="firstModal.close()">Cancel</button>
		        </modal-footer>
		    </modal>
		</div>	
	</div>
</div>