<div class="container">
    <div class="main">
        <div *ngIf="booking">
            <div class="title">
                {{incident.reference_no}} {{incident.title}}
            </div>
            <p>Home > Incident Reports > {{incident.reference_no}} {{incident.title}}</p>
	        <div class="row">
	        	<div class="col-lg-6">
	        		<p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>
	        	</div>
	        	<div class="col-lg-6">
	        		<div class="row">
	        			<div class="col-md-4">Reported by </div>
	        			<div class="col-md-8"> <p>: {{ incident.created_by }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Type of Report </div>
	        			<div class="col-md-8"><p>: {{ incident.incident_type }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Report time </div>
	        			<div class="col-md-8"><p>: {{ incident.created_at }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Status </div>
	        			<div class="col-md-8"><p>: {{ incident.status }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Order </div>
	        			<div class="col-md-8">: <!-- <p>{{ incident.orde }}</p> --></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Message </div>
	        			<div class="col-md-8"><p>: {{ incident.remark }}</p></div>
	        		</div>
	        	</div>
	        </div>
        </div>

        <div *ngIf="!booking">
            <div class="title">
                FACILITIES BOOKING
            </div>
            <p>Home > Facilities System</p>
	        <div class="row">
	        	<div class="col-lg-4">
	        		<p-calendar [style]="{'width':'1000px'}" [inline]="true"></p-calendar> 
	        		<form name="form" (ngSubmit)="f.form.valid && updateUser(myForm.value)" #f="ngForm" novalidate>
	        			<div class="form-group">
	        				<div class="col-sm-12">
			                    <label for="username">Facility&nbsp; :</label>
			                    <select class="form-control" style="width: 75px">
			                    	<option>a</option>
			                    	<option>b</option>
			                    </select>
			                    <select class="form-control" style="width: 75px">
			                    	<option>a</option>
			                    	<option>b</option>
			                    </select>
			                </div>
		                </div>
		                <div class="form-group">
		                    <div class="col-sm-12">
			                    <label for="username">Status&nbsp;&nbsp; :</label>
			                    <select class="form-control" style="width: 152px">
			                    	<option>a</option>
			                    	<option>b</option>
			                    </select>
			                </div>
		                </div>
		                <div class="form-group">
		                    <div class="col-sm-12">
			                    <label for="username">Period&nbsp;&nbsp;  :</label>
			                    <select class="form-control" style="width: 75px">
			                    	<option>a</option>
			                    	<option>b</option>
			                    </select>
			                    <select class="form-control" style="width: 75px">
			                    	<option>a</option>
			                    	<option>b</option>
			                    </select>
			                </div>
		                </div>
		                <div class="form-group">
		                    <button style="width: 250px" class="btn btn-primary">Filter</button>
		                </div>
	        		</form>
	        	</div>
	        	<div class="col-lg-8">
	        		<p-dataTable [value]="bookings" [rows]="10" [paginator]="true">
					    <p-column field="start_time" header="Time" sortable="true" [filter]="true" filterPlaceholder="Search time"></p-column>
					    <p-column field="reference_no" header="Ref." sortable="true" [filter]="true" filterPlaceholder="Search ref."></p-column>
					    <p-column field="facility" header="Facility" sortable="true" [filter]="true" filterPlaceholder="Search facility"></p-column>
					    <p-column field="property" header="Booked by" sortable="true" [filter]="true" filterPlaceholder="Search booked by"></p-column>
					    <p-column field="booking_date" header="On" sortable="true" [filter]="true" filterPlaceholder="Search date"></p-column>
					    <p-column field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search status"></p-column>
					    <p-column field="remark" header="Remark" sortable="true" [filter]="true" filterPlaceholder="Search remark">
					        <template let-col let-booking="rowData" pTemplate="body">
					            <span [style.color]="booking[col.field]">{{booking[col.field]}}</span>
					        </template>
					    </p-column>
					    <!-- </p-column> -->
					    <p-column header="Action" styleClass="col-button">
					    	<template let-booking="rowData" pTemplate="body">
					        	<button type="button" (click)="view(booking)">View</button>
					        	<button type="button" (click)="deleteFacility(booking)"><i class="fa fa-trash" aria-hidden="true"></i></button>
					    	</template>
					    </p-column>
					</p-dataTable>
	        	</div>
	        </div>
        </div>
    </div>
</div>