<div class="container">
    <div class="main">
            <div class="title">
                Contact Directory
            </div>
            <p>Home > Contact Directory</p>

                <div class="row bg-dark">
                    <div class="col-md-6">
                        <h5>Management & Emergency Numbers</h5>
                    </div>
                </div>
                <div class="row" style="border: 1px solid grey; padding: 5px;">
                    <div class="row">
                        <div class="col-md-2">
                                <b>Management Office</b><br>
                                <b>0182389127</b>
                        </div>
                        <div class="col-md-2">
                                <b>Management Office</b><br>
                                <b>0182389127</b>
                        </div>
                        <div class="col-md-2">
                                <b>Management Office</b><br>
                                <b>0182389127</b>
                        </div>
                        <div class="col-md-2">
                                <b>Management Office</b><br>
                                <b>0182389127</b>
                        </div>
                        <div class="col-md-2">
                                <b>Management Office</b><br>
                                <b>0182389127</b>
                        </div>
                    </div>
                </div>
                <div class="row" style="border: 1px solid grey; padding: 5px;">
                    <div class="row">
                        <div class="col-md-2">
                                <a class="btn-underline">Edit List</a>
                        </div>
                    </div>
                </div><br>

                <div class="row bg-dark">
                    <div class="col-md-6">
                        <h5>Recommended Service Contact</h5>
                    </div>
                </div>
                <div class="row" style="border: 1px solid grey; padding: 5px;">
                    <div class="row">
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                        <div class="col-md-2">
                                <b>Service Title 1</b><br>
                                <p>General Service</p>
                                Tel: +659935162 <br>
                                21 depot Road <br>
                                Singapore 326365
                        </div>
                    </div>
                </div>
                <div class="row" style="border: 1px solid grey; padding: 5px;">
                    <div class="row">
                        <div class="col-md-2">
                                <a class="btn-underline">Edit List</a>
                        </div>
                    </div>
                </div><br>
                <button class="btn-brown">Browse all Service Contractors</button>
    </div>
</div>
