<div class="container">
    <div class="main">
        <div *ngIf="contractnote && contract">
            <div class="title">
                {{ contractnote.posted_by }}
            </div>
            <p class="id-location">Home > Manage Projects > {{ contract.title }} > Contract Note > {{ contractnote.posted_by }}</p>
            <div class="row">
                <div class="col-lg-6">
                    <p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-4">Posted by :</div>
                        <div class="col-md-8">
                            <p>{{ contractnote.posted_by }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Posted on :</div>
                        <div class="col-md-8">
                            <p>{{ contractnote.posted_on | date:'d/M/y' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Project note remark :</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ contractnote.note_remark }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="contract && !contractnote">
            <div class="title"> 
                Create a Project notice
            </div>
            <p>Home > Manage Project > {{contract.title}} > Create a Project notice</p>
            <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createContractNote(contract._id)" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !status.valid }">
                    <label class="control-label col-sm-4" for="status">Project Status :</label>
                    <div class="col-sm-8">
                            <select class="form-control" name="status" [(ngModel)]="model.status" #status="ngModel" required placeholder="Input project status here">
                                    <option value="open">Open</option>
                                    <option value="closed">Closed</option>
                            </select>
                            <span *ngIf="f.submitted && !status.valid" class="help-block">Project status is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !note_remark.valid }">
                    <label class="control-label col-sm-4" for="note_remark">Remark :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="note_remark" [(ngModel)]="model.note_remark" #note_remark="ngModel" required placeholder="Input remark here"></textarea>
                        <span *ngIf="f.submitted && !note_remark.valid" class="help-block">Remark is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': model.attachment.length == 0 && f.submitted }">
                    <label class="control-label col-sm-4" for="attachment">Attachment :</label>
                    <div class="col-sm-8">
                        <input required type="file" multiple class="upload inputfile" name="attachment" id="file" (change)="onChange($event)" />
                        <label class="btn btn-upload" for="file">Add Media</label>
                        <p *ngFor="let item of model.attachment; let i=index ">
                            <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;
                            <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;
                            <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                        </p>
                        <small class="help-block" *ngIf="f.submitted && model.attachment.length == 0">Attachment is required</small>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Post</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <button (click)="cancel(contract._id)" class="btn btn-info btn-white">Cancel</button>
                </div>
            </form>
        </div>  
    </div>
</div>
