<div class="container">
  <div class="main">
    <div *ngIf="accesscontrol">
      <div class="title">
        Edit Access Control
      </div>
      <p class="id-location">Home > Resident Access Control > Edit > {{accesscontrol.card_no}} </p>
      <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && updateAccessControl()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !card_no.valid }">
          <label class="control-label col-sm-2" for="card_no">Card No. :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="card_no" [(ngModel)]="accesscontrol.card_no" #card_no="ngModel" required placeholder="Input card no here" />
            <span *ngIf="f.submitted && !card_no.valid" class="help-block">Card No. is required</span>
          </div>
        </div>
        <div *ngIf="users">
          <div class="form-group">
            <label class="control-label col-sm-2">Issued to :</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="accesscontrol.issued_to" #issued_to="ngModel" name="property" placeholder="Choose property">
                <option *ngFor="let user of users" [ngValue]="user._id">
                  {{user.username}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="unit">
          <div class="form-group">
            <label class="control-label col-sm-2">Unit No :</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="accesscontrol.property" #property="ngModel" name="property" placeholder="Choose property">
                <option *ngFor="let unit of unit.properties" [ngValue]="unit._id">
                  #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !access_level.valid }">
          <label class="control-label col-sm-2" for="access_level">Access Level :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="access_level" [(ngModel)]="accesscontrol.access_level" #access_level="ngModel" required placeholder="Input card no here" />
            <span *ngIf="f.submitted && !access_level.valid" class="help-block">Access Level is required</span>
          </div>
        </div>
        <div class="form-group pull-right">
          <button [disabled]="loading" class="btn btn-primary">Save</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <a (click)="cancel()" class="btn btn-info">Cancel</a>
        </div>
      </form>
    </div>

    <div *ngIf="!accesscontrol">
      <div class="title">
        Add Access Control
      </div>
      <p class="id-location">Home > Resident Access Control > Add </p>
      <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createAccessControl()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !card_no.valid }">
          <label class="control-label col-sm-2" for="card_no">Card No. :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="card_no" [(ngModel)]="model.card_no" #card_no="ngModel" required placeholder="Input card no here" />
            <span *ngIf="f.submitted && !card_no.valid" class="help-block">Card No. is required</span>
          </div>
        </div>
        <div *ngIf="users">
          <div class="form-group">
            <label class="control-label col-sm-2">Issued to :</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="model.issued_to" #issued_to="ngModel" name="property" placeholder="Choose property">
                <option *ngFor="let user of users" [ngValue]="user._id">
                  {{user.username}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="unit">
          <div class="form-group">
            <label class="control-label col-sm-2">Unit No :</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="model.property" #property="ngModel" name="property" placeholder="Choose property">
                <option *ngFor="let unit of unit.properties" [ngValue]="unit._id">
                  #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !access_level.valid }">
          <label class="control-label col-sm-2" for="access_level">Access Level :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="access_level" [(ngModel)]="model.access_level" #access_level="ngModel" required placeholder="Input card no here" />
            <span *ngIf="f.submitted && !access_level.valid" class="help-block">Access Level is required</span>
          </div>
        </div>
        <div class="form-group pull-right">
          <button [disabled]="loading" class="btn btn-primary">Save</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <a (click)="cancel()" class="btn btn-info">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
