<div class="container">
    <div class="main">
        <div class="title">
            Add Unit
        </div>
            <p>Home > AGM / Circular > Create</p>
            <form [formGroup]="myForm" novalidate (ngSubmit)="createUnit(myForm.value)">
                <div class="form-group" formGroupName="address">
                    <label>Unit No</label>
                    <input type="text" class="form-control" formControlName="unit_no">
                </div>
                <div class="form-group" formGroupName="address">
                    <label>Unit No 2</label>
                    <input type="text" class="form-control" formControlName="unit_no_2">
                </div>
                <div class="form-group" formGroupName="address">
                    <label>Block Number</label>
                    <input type="text" class="form-control" formControlName="block_no">
                </div>
                <div class="form-group" formGroupName="address">
                    <label>Street Name</label>
                    <input type="text"  class="form-control" formControlName="street_name">
                </div>
                <div  class="form-group" formGroupName="address">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" formControlName="postal_code">
                </div>
                <div class="form-group" formGroupName="address">
                    <label>Country</label>
                    <input type="text" class="form-control" formControlName="country">
                </div>
                <div class="form-group" formGroupName="address">
                    <label>Full Address</label>
                    <input type="text" class="form-control" formControlName="full_address">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" formControlName="status">
                </div>
                
                

                <button type="submit">Submit</button>

            </form>




            <!-- <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createUnit()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !unit_no.valid }">
                    <label class="control-label col-sm-4" for="unit_no">Unit Number :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="unit_no" [(ngModel)]="model.address.unit_no" #unit_no="ngModel" required placeholder="Unit number Here" />
                        <span *ngIf="f.submitted && !unit_no.valid" class="help-block">Unit number is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !unit_no_2.valid }">
                    <label class="control-label col-sm-4" for="unit_no_2">Unit Number 2 :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="unit_no_2" [(ngModel)]="model.address.unit_no_2" #unit_no_2="ngModel" required placeholder="Unit number 2 Here"></textarea>
                        <span *ngIf="f.submitted && !unit_no_2.valid" class="help-block">Unit number 2 is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !block_no.valid }">
                    <label class="control-label col-sm-4" for="block_no">Block Number :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="block_no" [(ngModel)]="model.address.block_no" #block_no="ngModel" required placeholder="Block number Here"></textarea>
                        <span *ngIf="f.submitted && !block_no.valid" class="help-block">Block number is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !street_name.valid }">
                    <label class="control-label col-sm-4" for="street_name">Street name :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="street_name" [(ngModel)]="model.address.street_name" #street_name="ngModel" required placeholder="Street name Here"></textarea>
                        <span *ngIf="f.submitted && !street_name.valid" class="help-block">Street name is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !postal_code.valid }">
                    <label class="control-label col-sm-4" for="postal_code">Postal code :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="postal_code" [(ngModel)]="model.address.postal_code" #postal_code="ngModel" required placeholder="Postal code Here"></textarea>
                        <span *ngIf="f.submitted && !postal_code.valid" class="help-block">Postal Code is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
                    <label class="control-label col-sm-4" for="country">Country :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="country" [(ngModel)]="model.address.country" #country="ngModel" required placeholder="Country code Here"></textarea>
                        <span *ngIf="f.submitted && !country.valid" class="help-block">Country is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !full_address.valid }">
                    <label class="control-label col-sm-4" for="full_address">Full address :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="full_address" [(ngModel)]="model.address.full_address" #full_address="ngModel" required placeholder="Full Address code Here"></textarea>
                        <span *ngIf="f.submitted && !full_address.valid" class="help-block">Full adrress is required</span>
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="status">Status :</label>
                  <div class="col-sm-8">
                      <select class="form-control" name="status" id="status" [(ngModel)]="model.status" #status="ngModel" required>
                        <option [value]="active">Active</option>
                        <option [value]="not_active">Not Active</option>
                      </select>
                  </div>  
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/newsletter']" class="btn btn-info">Cancel</a>
                </div>
            </form> -->
    </div>
</div>
