<div class="container">
    <div class="main">
            <div class="title">
                Add Report
            </div>
            <p>Home > Manage Lost& Found > Add Report </p>
            
            <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createReport()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="unit_no">Unit No :</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="sticky" [(ngModel)]="model.property">
                          <option *ngFor="let u of dataUnit" [ngValue]="u._id">#{{u.address.unit_no}}-{{u.address.unit_no_2}}</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="type">Type :</label>
                  <div class="col-sm-8">
                        <select class="form-control" name="selectedType" [(ngModel)]="model.type">
                                <option  disabled="">--Select Type--</option>
                                <option  value="lost">Lost</option>
                                <option  value="found">Found</option>
                        </select>
                  </div>  
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                    <label class="control-label col-sm-4" for="description">Description :</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required placeholder="Input Description here"></textarea>
                        <span *ngIf="f.submitted && !description.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                 <div class="form-group" >
                    <label class="control-label col-sm-4" for="attachment">Attachment :</label>
                    <div class="col-sm-8">
                        <input type="file" multiple class="upload" name="attachment" (change)="onChange($event)" />
                        <p *ngFor="let item of model.photo; let i=index ">
                            <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;  
                            <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;   
                            <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="contact_method">Preffered Method of Contact :</label>
                  <div class="col-sm-8">
                        <select class="form-control" name="contact_method" [(ngModel)]="model.preferred_method_of_contact">
                                <option  disabled="">--Select Method--</option>
                                <option  value="sms">SMS</option>
                                <option  value="email">Email</option>
                        </select>
                  </div>  
                </div>

                 <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-brown btn-primary">Create</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button (click)="goToLostFound()" class="btn btn-white">Cancel</button>
                </div>
            </form>     
    </div>
</div>
          