<div class="container">
    <div class="main">
<!-- Edit USER-GROUP -->
        <div *ngIf="usergroup">
            <div class="title">
                Edit Usergroup
            </div>
            <p>Home > Usergroup > Edit</p>
            <form class="form-horizontal col-md-6" name="form" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                    <label class="control-label col-sm-2" for="description">Description :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" [(ngModel)]="usergroup.description" #description="ngModel" required placeholder="Input description here" />
                        <span *ngIf="f.submitted && !description.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !chief.valid }">
                    <label class="control-label col-sm-2" for="chief">chief :</label>
                    <div class="col-sm-10">
                        <input type="chief" class="form-control" name="chief" [(ngModel)]="usergroup.chief" #chief="ngModel" required placeholder="Input chief here"/>
                        <span *ngIf="f.submitted && !chief.valid" class="help-block">Chief is required</span>
                    </div>
                </div>
                <div ngModelGroup="users"> 
                    <div *ngFor="let user of usergroup.users; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>Users{{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="user.length > 1" (click)="removeUser(i)"></span>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="users">
                                <div class="form-group col-xs-10">
                                    <label>User Id :</label>
                                    <select [(ngModel)]="usergroup.users" #user="ngModel" class="form-control" id={{user}} name="user"  placeholder="Choose User">
                                        <option [selected]="usert._id==user" *ngFor="let usert of users" [ngValue]="usert._id">
                                              {{usert.username}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" (click)="updateUserGroup()" class="btn btn-primary">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/user_group']" class="btn btn-info">Cancel</a>
                </div>
            </form>
        </div>
<!-- ADD USER-GROUP -->

        <div *ngIf="!usergroup">
            <div class="title">
                Add User Group
            </div>
            <p>Home > User Group > Add > </p>
            <form [formGroup]="myForm" class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createUserGroup(myForm.value)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" formControlName="description" required placeholder="Input Description here" />
                        <!-- <small *ngIf="!myForm.controls.username.valid" class="text-danger">
                        Name is required
                        </small> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="chief">Chief :</label>
                    <div class="col-sm-10">
                        <input type="chief" class="form-control" name="chief" formControlName="chief" placeholder="Input Chief here"/>
                        <!-- <small *ngIf="!myForm.controls.chief.valid" class="text-danger">
                        chief is required
                        </small> -->
                    </div>
                </div>
                <div formArrayName="users">          
                    <div *ngFor="let user of myForm.controls.users.controls; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>User {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.users.controls.length > 1" (click)="removeUser(i)"></span>
                        </div>

                        <div class="panel-body" [formGroupName]="i">
                           
                            <div *ngIf="users">
                                <div class="form-group col-xs-10">
                                    <label>User Name :</label>
                                    <div>
                                        <select class="form-control" name="users" id="users" formControlName="users" placeholder="Choose User">
                                            <option *ngFor="let usert of users" [ngValue]="usert._id">
                                                 {{usert.username}}
                                            </option>
                                        </select>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addUser()" style="cursor: default">
                        Add another User +
                    </a>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/user']" class="btn btn-info">Cancel</a>
                </div>
            </form>       
        </div>
    </div>
</div>
          