<div class="container">
    <div class="main">
 		<div class="title">
        	Add Payment
        </div>
        <p>Home > Payment > Add </p>
  		<form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createPayment()" #f="ngForm" novalidate>
           <div class="form-group">
                <label class="control-label col-sm-4" for="serial_no">Booking Ref.no :</label>
                <div class="col-sm-8">
                    <input disabled type="text" class="form-control" name="serial_no" [(ngModel)]="model.serial_no" #serial_no="ngModel" />
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !property.valid }">
                <label class="control-label col-sm-4" for="property">Unit no :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="property" [(ngModel)]="model.property" #property="ngModel" required placeholder="Input property here"/>
                    <span *ngIf="f.submitted && !property.valid" class="help-block">Property is required</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="sender">Resident :</label>
                <div class="col-sm-8">
                    <input disabled type="text" class="form-control" name="sender" [(ngModel)]="model.sender" #sender="ngModel" />
                </div>
            </div>
             <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !remark.valid }">
                <label class="control-label col-sm-4" for="remark">Remark :</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" name="remark" [(ngModel)]="model.remark" #remark="ngModel"></textarea>
                     <span *ngIf="f.submitted && !remark.valid" class="help-block">Remark is required</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !payment_type.valid }">
                <label class="control-label col-sm-4" for="payment_type">Mode of payment :</label>
                <div class="col-sm-8">
                    <select class="form-control" name="payment_type" [(ngModel)]="model.payment_type" #payment_type="ngModel" required placeholder="Input payment mode here">
                        <option value="cash">Cash At Management Office</option>
                        <option value="transfer">Bank Transfer</option>
                    </select>
                    <span *ngIf="f.submitted && !payment_type.valid" class="help-block">Payment mode is required</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-4" for="payment_proof">Payment Reference :</label>
                <div class="col-sm-8">
                    <input type="file" multiple class="upload" name="payment_proof" (change)="onChange($event)" />
                    <p *ngFor="let item of model.payment_proof; let i=index ">
                        <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;  
                        <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;   
                        <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                    </p>
                </div>
            </div>
            <div class="form-group pull-right">
                <button [disabled]="loading" class="btn btn-primary">Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a [routerLink]="['/development']" class="btn btn-info">Cancel</a>
            </div>
        </form>
	</div>
</div>