       <nav class="navbar header-component" role="navigation">
    	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <div class="navbar-brand navbar-brand-centered"><a href="#"><img style="width:70%;" src="assets/image/logo1.png"></a></div>

		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-brand-centered">
		    	   
		  
		      	<ul  class="nav navbar-nav navbar-right">
		         <p class="navbar-text">Welcome, <a class="" href="#"><strong>Admin</strong></a><br><a class="pull-right" [routerLink]="['/setting']">Settings</a> </p>
		        <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="badge badge-danger">{{ unreadNotificationTotal }}</span></a></li>
		        <li><a [routerLink]="['/login']" title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>	

		      </ul>

		  
		       
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	
