<div class="container">
	<div class="main">
		 <div *ngIf="lostFound && !buttonViewArchive">
            <div class="title">
            	{{lostFound.type}}  #{{lostFound.serial_number}}
            </div>
            <p>Home > Manage Lost & Founds > #{{lostFound.serial_number}}</p>
	        <div class="row">
	        	<div class="col-lg-6">
	        		<p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>
	        	</div>
	        	<div class="col-lg-6">
	        		<div class="row">
	        			<div class="col-md-4">Reported by :</div>
	        			<div class="col-md-8"> <p>{{ lostFound.created_by }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Type :</div>
	        			<div class="col-md-8"><p>{{ lostFound.type }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Report time :</div>
	        			<div class="col-md-8"><p>{{ lostFound.created_at | date:'fullDate'}}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Description :</div>
	        			<div class="col-md-8"><p>{{ lostFound.description }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4">Preferred method of contact :</div>
	        			<div class="col-md-8"><p>{{ lostFound.contact_method }}</p></div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-4"><p>Actions :</p></div>
	        		</div>
	        		<div class="row">	
	        			<div class="col-md-12">
	        				<span *ngIf="!lostFound.archieved"><a class="btn btn-primary" (click)="archieve(lostFound._id)" style="cursor:pointer"><img src="assets/image/icon_archived.png" width="14px" height="12px">Archive Report</a></span>
	        			</div>
	        		</div>
	        	</div>
	        </div>
        </div>


        <div *ngIf="!lostFound && !buttonViewArchive">
			<div class="title">
				Manage Lost & Found
			</div>
			Home > Manage Lost & Found
			<div class="row">
				<div class="col-md-4 pull-right">
						  		<a class="btn btn-default pull-right" (click)="add()">
						  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Report</a>
						  		<a class="btn btn-default pull-right" (click)="viewArchieved()">
						  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;View Archived</a>
						  		
				</div>
			</div>
			<div (click)="$event.preventDefault()">
			  <tabset>
			    <tab heading="All">
			    	<p-dataTable [value]="all" [rows]="10" [paginator]="true">
					    <p-column field="" header="S/N" [filter]="true" filterPlaceholder="Search S/N"></p-column>
					    <p-column field="" header="Made by" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Unit.no" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Type" sortable="true"  [filter]="true" filterPlaceholder="Search Type"></p-column>
					    <p-column field="" header="Description"></p-column>
					    <p-column field="" header="Photo"></p-column>
					    <p-column field="" header="Preferred method of contact"></p-column>
					    <p-column field="" header="Reported on" sortable="true" ></p-column>
					   <p-column styleClass="col-button">
					    	<template let-all="rowData" class="pull-right" pTemplate="body">
					    	<a type="button" class="btn-underline" (click)="viewLostFound(all)">View</a>
					        <button type="button"  (click)="openModal(all) || firstModal.open()"><img class="img-btn" src="../../assets/image/icon_archived.png" /></button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			    <tab heading="Lost">
			    	<p-dataTable [value]="losts" [rows]="10" [paginator]="true">
					    <p-column field="" header="S/N" [filter]="true" filterPlaceholder="Search S/N"></p-column>
					    <p-column field="" header="Made by" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Unit.no" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Type" sortable="true"  [filter]="true" filterPlaceholder="Search Type"></p-column>
					    <p-column field="" header="Description"></p-column>
					    <p-column field="" header="Photo"></p-column>
					    <p-column field="" header="Preferred method of contact"></p-column>
					    <p-column field="" header="Reported on" sortable="true" ></p-column>
					   <p-column styleClass="col-button">
					    	<template let-losts="rowData" class="pull-right" pTemplate="body">
					    	<a type="button" class="btn-underline" (click)="viewLostFound(losts)">View</a>
					       <button type="button"  (click)="openModal(losts) || firstModal.open()"><img class="img-btn" src="../../assets/image/icon_archived.png" /></button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			    <tab heading="Found">
			    	<p-dataTable [value]="founds" [rows]="10" [paginator]="true">
					    <p-column field="" header="S/N" [filter]="true" filterPlaceholder="Search S/N"></p-column>
					    <p-column field="" header="Made by" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Unit.no" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Type" sortable="true"  [filter]="true" filterPlaceholder="Search Type"></p-column>
					    <p-column field="" header="Description"></p-column>
					    <p-column field="" header="Photo"></p-column>
					    <p-column field="" header="Preferred method of contact"></p-column>
					    <p-column field="" header="Reported on" sortable="true" ></p-column>
					   <p-column styleClass="col-button">
					    	<template let-founds="rowData" class="pull-right" pTemplate="body">
					    	<a type="button" class="btn-underline" (click)="viewLostFound(founds)">View</a>
					        <button type="button"  (click)="openModal(founds) || firstModal.open()"><img class="img-btn" src="../../assets/image/icon_archived.png" /></button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			  </tabset>
			</div>	
		</div>

		<div *ngIf="!lostFound && buttonViewArchive">
			<div class="title">
				Manage Lost & Found
			</div>
			Home > Manage Lost & Found > Archieved
			<div class="row">
				<div class="col-md-4 pull-right">
						  		<a class="btn btn-default pull-right" (click)="add()">
						  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Report</a>
						  		<a class="btn btn-default pull-right" (click)="viewArchieved()">
						  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;View Archived</a>
						  		
				</div>
			</div>
			<div (click)="$event.preventDefault()">
			  <tabset>
			    <tab heading="All">
			    	<p-dataTable [value]="archieveds" [rows]="10" [paginator]="true">
					    <p-column field="" header="S/N" [filter]="true" filterPlaceholder="Search S/N"></p-column>
					    <p-column field="" header="Made by" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Unit.no" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Type" sortable="true"  [filter]="true" filterPlaceholder="Search Type"></p-column>
					    <p-column field="" header="Description"></p-column>
					    <p-column field="" header="Photo"></p-column>
					    <p-column field="" header="Preferred method of contact"></p-column>
					    <p-column field="" header="Reported on" sortable="true" ></p-column>
					   <p-column styleClass="col-button">
					    	<template let-archieveds="rowData" class="pull-right" pTemplate="body">
					    	<a type="button" class="btn-underline" (click)="viewLostFound(archieveds)">View</a>
					        <button type="button"  (click)="openModal(archieveds) || firstModal.open()"><img class="img-btn" src="../../assets/image/icon_archived.png" /></button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			    <tab heading="Lost">
			    	<p-dataTable [value]="archievedLosts" [rows]="10" [paginator]="true">
					    <p-column field="" header="S/N" [filter]="true" filterPlaceholder="Search S/N"></p-column>
					    <p-column field="" header="Made by" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Unit.no" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Type" sortable="true"  [filter]="true" filterPlaceholder="Search Type"></p-column>
					    <p-column field="" header="Description"></p-column>
					    <p-column field="" header="Photo"></p-column>
					    <p-column field="" header="Preferred method of contact"></p-column>
					    <p-column field="" header="Reported on" sortable="true" ></p-column>
					   <p-column styleClass="col-button">
					    	<template let-archievedLosts="rowData" class="pull-right" pTemplate="body">
					    	<a type="button" class="btn-underline" (click)="viewLostFound(archievedLosts)">View</a>
					       <button type="button"  (click)="openModal(archievedLosts) || firstModal.open()"><img class="img-btn" src="../../assets/image/icon_archived.png" /></button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			    <tab heading="Found">
			    	<p-dataTable [value]="archievedFounds" [rows]="10" [paginator]="true">
					    <p-column field="" header="S/N" [filter]="true" filterPlaceholder="Search S/N"></p-column>
					    <p-column field="" header="Made by" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Unit.no" [filter]="true" filterPlaceholder="Search User"></p-column>
					    <p-column field="" header="Type" sortable="true"  [filter]="true" filterPlaceholder="Search Type"></p-column>
					    <p-column field="" header="Description"></p-column>
					    <p-column field="" header="Photo"></p-column>
					    <p-column field="" header="Preferred method of contact"></p-column>
					    <p-column field="" header="Reported on" sortable="true" ></p-column>
					   <p-column styleClass="col-button">
					    	<template let-archievedFounds="rowData" class="pull-right" pTemplate="body">
					    	<a type="button" class="btn-underline" (click)="viewLostFound(archievedFounds)">View</a>
					        <button type="button"  (click)="openModal(archievedFounds) || firstModal.open()"><img class="img-btn" src="../../assets/image/icon_archived.png" /></button>
					    	</template>
					    </p-column>
					</p-dataTable>
			    </tab>
			  </tabset>
			</div>	
		</div>

		<div class="row">
		    
		    <modal #firstModal>
		        <modal-header>
		            <h5>Archieve Lost/Found</h5>
		        </modal-header>
		        <modal-content>

		           <div *ngIf="lostFoundforModal">
		              
		           		Archieve this Lost/Found ?	
		              
		                <div class="pull-right">
		                    <button  type="button" class="btn btn-primary" (click)="archieve(lostFound._id)">Archieve</button>
		                    <button class="btn btn-default" (click)="firstModal.close()">Cancel</button>
		                </div>
		             
		           </div>
		        </modal-content>
		        
		    </modal>
		</div>
	</div>
</div>