<div class="container">
	<div class="main">
		<div class="title">
			AGM & CIRCULAR
		</div>
		Home > AGM & Circular
		<div class="row">
			<div class="col-md-4 pull-right">
					  		<a class="btn btn-default pull-right" [routerLink]="['/newsletter/add']">
					  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Upload AGM / Circular</a>
			</div>
		</div>
		<div (click)="$event.preventDefault()">
		  <tabset>
		    <tab heading="AGM">
		    	<p-dataTable [value]="dataAgm" [rows]="10" [paginator]="true">
				    <p-column field="created_at" header="Date" sortable="true" [filter]="true" filterPlaceholder="Search date"></p-column>
				    <p-column field="title" header="Title" sortable="true" [filter]="true" filterPlaceholder="Search Title"></p-column>
				    <!-- <p-column field="description" header="Description" sortable="true" [filter]="true" filterPlaceholder="Search"> -->
				    <p-column field="created_at" header="Uploaded on" sortable="true" [filter]="true" filterPlaceholder="Search Uploaded on">
				        <template let-col let-data="rowData" pTemplate="body">
				            <span [style.color]="data[col.field]">{{data[col.field]}}</span>
				        </template>
				    </p-column>
				    <p-column field="uploaded_by" header="Uploaded by" sortable="true" [filter]="true" filterPlaceholder="Search Uploaded by"></p-column>
				     <p-column field="attachment" header="Attachment" sortable="true" [filter]="true" filterPlaceholder="Search Attachment"></p-column>
				    <!-- </p-column> -->
				    <p-column styleClass="col-button">
				    	<template let-data="rowData" pTemplate="body">
				        <button type="button" [routerLink]="['/newsletter/add'+newsletter._id]">Edit</button>
				    	</template>
				    	<template let-data="rowData" pTemplate="body">
				        <button type="button" (click)="deleteNewsletter(dataAgm)">Delete</button>
				    	</template>
				    </p-column>
				</p-dataTable>
		    </tab>
		    <tab heading="Circular">
		    	<p-dataTable [value]="dataCircular" [rows]="10" [paginator]="true">
				    <p-column field="created_at" header="Date" sortable="true" [filter]="true" filterPlaceholder="Search date"></p-column>
				    <p-column field="title" header="Title" sortable="true" [filter]="true" filterPlaceholder="Search Title"></p-column>
				    <!-- <p-column field="description" header="Description" sortable="true" [filter]="true" filterPlaceholder="Search"> -->
				    <p-column field="created_at" header="Uploaded on" sortable="true" [filter]="true" filterPlaceholder="Search Uploaded on">
				        <template let-col let-data="rowData" pTemplate="body">
				            <span [style.color]="data[col.field]">{{data[col.field]}}</span>
				        </template>
				    </p-column>
				    <p-column field="uploaded_by" header="Uploaded by" sortable="true" [filter]="true" filterPlaceholder="Search Uploaded by"></p-column>
				     <p-column field="attachment" header="Attachment" sortable="true" [filter]="true" filterPlaceholder="Search Attachment"></p-column>
				    <!-- </p-column> -->
				    <p-column styleClass="col-button">
				    	<template let-data="rowData" pTemplate="body">
				        <button type="button" [routerLink]="['/newsletter/add'+newsletter._id]">Edit</button>
				    	</template>
				    	<template let-data="rowData" pTemplate="body">
				        <button type="button" (click)="deleteNewsletter(dataCircular)">Delete</button>
				    	</template>
				    </p-column>
				</p-dataTable>
		    </tab>	
		  </tabset>
		</div>	
	</div>
</div>