<div class="container">
	<div class="main">
		<div *ngIf="petition">
			<div class="title">
				Request #{{petition.reference_no}}
			</div>
			<p class="id-location">Home > Manage Request > #{{petition.reference_no}}</p>
			<a style="cursor:pointer" (click)="goBack()">Back to last page</a>
			<div class="row">
				<div class="col-md-4">Reference Number</div>
				<div class="col-md-8">
					<p>: #{{petition.reference_no}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Development </div>
				<div class="col-md-8">
					<p>: {{ petition.development.name }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Unit No </div>
				<div class="col-md-8">
					<p>: {{ petition.unit_no }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Attachment </div>
				<div class="col-md-8">
					:<a [attr.href]="a.url" *ngFor="let a of petition.attachment"> {{a.name}},&nbsp; </a>
				</div>
			</div>
			<div class="row" *ngIf="petition.contract">
				<div class="col-md-4">Contract </div>
				<div class="col-md-8">
					<p>: {{ petition.contract }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Type </div>
				<div *ngIf="petition.petition_type == 'maintenance'" class="col-md-8">
					<p>: Maintenance</p>
				</div>
				<div *ngIf="petition.petition_type == 'moving_in'" class="col-md-8">
					<p>: Moving-in</p>
				</div>
				<div *ngIf="petition.petition_type == 'renovation'" class="col-md-8">
					<p>: Renovation</p>
				</div>
				<div *ngIf="petition.petition_type == 'add_tenant/family'" class="col-md-8">
					<p>: Add Tenant/family</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Remark </div>
				<div class="col-md-8">
					<p>: {{ petition.remark }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Status </div>
				<div class="col-md-8">
					<p>: {{ petition.status }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Requested By </div>
				<div class="col-md-8">
					<p *ngIf="petition.created_by">: {{ petition.created_by.username }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Since </div>
				<div class="col-md-8">
					<p>: {{ petition.created_at | date:'longDate' }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Last Updated on </div>
				<div class="col-md-8">
					<p>: {{ petition.updated_at | date:'longDate'}}</p>
				</div>
			</div>
		</div>

		<div *ngIf="!petition && !buttonViewArchive">
			<div class="title">
				Manage Request
			</div>
			<p class="id-location">Home > Manage Request</p>
			<div class="row top-block">
				<div class="col-md-6 no-padding">
					<div class="col-md-7">
						<div class="input-group filter-search">
							<input type="text" class="form-control input-search" (keyup.enter)="filter()" [(ngModel)]="ticketNumberFilter" placeholder="Search Ticket Number" name="filter">
							<span (click)="filter()" class="input-group-btn">
								<button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search fa-inverse" aria-hidden="true"></i></button>
							</span>
						</div>
					</div>
					<div class="col-md-5 no-padding">
					    <div class="input-group">
					        <label class="control-label col-sm-4" for="type">Type :</label>
					        <div class="col-sm-8 no-padding">
					          <select class="form-control" name="selectedType" (change)="filterType($event)" [(ngModel)]="typeFilter">
					            <option value="" selected="selected">All</option>
					            <option value="moving_in">Moving in</option>
					            <option value="renovation">Renovation</option>
					            <option value="add_tenant">Add Tenant/family</option>
					            <option value="maintenance">Maintenance</option>
					          </select>
					        </div>
					    </div>
					</div>
				</div>
				<div class="col-md-6 pull-right">
					<button class="btn btn-default btn-add pull-right" [disabled]="!btnArchive" (click)="archieveConfirmation()"><img class="img-btn" src="../../assets/image/icon_archived.png" />&nbsp;Archive Selected</button>
					<button class="btn btn-default btn-add pull-right" (click)="viewArchieved()">
						<img class="img-btn" src="../../assets/image/icon_archived.png" />&nbsp;View Archived
					</button>
					<button class="btn btn-default btn-add pull-right" (click)="add()"><img class="img-btn" src="../../assets/image/icon_add.png" />&nbsp;Add Request</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p-dataTable [value]="petitions" [rows]="10" [paginator]="true">
						<p-column field="reference_no" header="Ticket Number">
							<template let-petitions="rowData" pTemplate="body">
								<span>#{{petitions.reference_no}}</span>
							</template>
						</p-column>
						<p-column field="petition_type" header="Type" sortable="true">
							<template let-petitions="rowData" pTemplate="body">
								<span *ngIf="petitions.petition_type == 'maintenance'">Maintenance</span>
								<span *ngIf="petitions.petition_type == 'moving_in'">Moving-in</span>
								<span *ngIf="petitions.petition_type == 'renovation'">Renovation</span>
								<span *ngIf="petitions.petition_type == 'add_tenant/family'"> Add Tenant/family</span>
							</template>
						</p-column>
						<p-column header="Requested by">
							<template let-petitions="rowData" pTemplate="body">
								<span *ngIf="petitions.created_by" class="btn-underline">{{petitions.created_by.username}}</span>
								<br>
								<span>on {{petitions.created_at | date:'shortTime'}}</span>
								<br>
							</template>
						</p-column>
						<p-column field="updated_at" header="Last Updated on" sortable="true">
							<template let-petitions="rowData" pTemplate="body">
								<span>{{petitions.updated_at | date:'d/M/y'}}</span>
								<br>
							</template>
						</p-column>
						<p-column header="Attachment">
							<template let-petitions="rowData" pTemplate="body">
								<span *ngIf="petitions.attachment.length === 0">No Files</span>
								<span *ngIf="petitions.attachment.length > 0">Yes</span>
							</template>
						</p-column>
						<p-column [style]="{'width':'250px'}" styleClass="col-button" header="Action">
							<template class="pull-right" let-petitions="rowData" pTemplate="body">
								<a type="button" style="cursor:pointer; margin: 0 25px 0 5px;" class="btn-underline" (click)="viewPetition(petitions)">View</a>
								<a (click)="viewPdf(petitions)" style="cursor:pointer; margin: 0 25px 0 5px;" class="btn-underline"><img src="../../assets/image/icon_pdf.png" class="img-btn" />Pdf</a>
								<p-checkbox name="archive" (click)="checkSelected()" value="{{petitions._id}}" [(ngModel)]="selectedValues"></p-checkbox>
							</template>
						</p-column>
					</p-dataTable>
				</div>
			</div>
		</div>
		<div *ngIf="!petition && buttonViewArchive">
			<div class="title">
				Manage Archived Request
			</div>
			<p class="id-location">Home > Manage Archived Request</p>
			<div class="row top-block">
				<div class="col-md-6 no-padding">
					<div class="col-md-7">
						<div class="input-group filter-search">
							<input type="text" class="form-control input-search" (keyup.enter)="filterArchieved()" [(ngModel)]="ticketNumberFilter" placeholder="Search Ticket Number" name="filter">
							<span (click)="filterArchieved()" class="input-group-btn">
								<button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search fa-inverse" aria-hidden="true"></i></button>
							</span>
						</div>
					</div>
					<div class="col-md-5 no-padding">
					    <div class="input-group">
					        <label class="control-label col-sm-4" for="type">Type :</label>
					        <div class="col-sm-8 no-padding">
					          <select class="form-control" name="selectedType" (change)="filterTypeArchieved($event)" [(ngModel)]="typeFilter">
					            <option value="" selected="selected">All</option>
					            <option value="moving_in">Moving in</option>
					            <option value="renovation">Renovation</option>
					            <option value="add_tenant">Add Tenant/family</option>
					            <option value="maintenance">Maintenance</option>
					          </select>
					        </div>
					    </div>
					</div>
				</div>
				<div class="col-md-6 pull-right">
					<button class="btn btn-default btn-add pull-right" (click)="viewUnarchieved()">
						<img class="img-btn" src="../../assets/image/icon_archived.png" />&nbsp;View Unarchived
					</button>
					<button class="btn btn-default btn-add pull-right" (click)="add()"><img class="img-btn" src="../../assets/image/icon_add.png" />&nbsp;Add Request</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p-dataTable [value]="archivedPetitions" [rows]="10" [paginator]="true">
						<p-column field="reference_no" header="Ticket Number">
							<template let-archivedPetitions="rowData" pTemplate="body">
								<span>#{{archivedPetitions.reference_no}}</span>
							</template>
						</p-column>
						<p-column field="petition_type" header="Type" sortable="true">
							<template let-archivedPetitions="rowData" pTemplate="body">
								<span *ngIf="archivedPetitions.petition_type == 'maintenance'">Maintenance</span>
								<span *ngIf="archivedPetitions.petition_type == 'moving_in'">Moving-in</span>
								<span *ngIf="archivedPetitions.petition_type == 'renovation'">Renovation</span>
								<span *ngIf="archivedPetitions.petition_type == 'add_tenant/family'"> Add Tenant/family</span>
							</template>
						</p-column>
						<p-column header="Requested by">
							<template let-archivedPetitions="rowData" pTemplate="body">
								<span class="btn-underline" *ngIf="archivedPetitions.created_by">{{archivedPetitions.created_by.username}}</span>
								<br>
								<span>on {{archivedPetitions.created_at | date:'shortTime'}}</span>
								<br>
							</template>
						</p-column>
						<p-column field="updated_at" header="Last Updated on" sortable="true">
							<template let-archivedPetitions="rowData" pTemplate="body">
								<span>{{archivedPetitions.updated_at | date:'d/M/y'}}</span>
								<br>
							</template>
						</p-column>
						<p-column header="Attachment">
							<template let-archivedPetitions="rowData" pTemplate="body">
								<span *ngIf="archivedPetitions.attachment.length === 0">No Files</span>
								<span *ngIf="archivedPetitions.attachment.length > 0">Yes</span>
							</template>
						</p-column>
						<p-column [style]="{'width':'250px'}" styleClass="col-button" header="Action">
							<template class="pull-right" let-archivedPetitions="rowData" pTemplate="body">
								<a type="button" class="btn-underline" style="cursor:pointer; margin: 0 25px 0 5px;" (click)="viewPetition(archivedPetitions)">View</a>
								<a (click)="viewPdf(archivedPetitions)" style="cursor:pointer; margin: 0 25px 0 5px;" class="btn-underline"><img src="../../assets/image/icon_pdf.png" class="img-btn" />Pdf</a>
							</template>
						</p-column>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
</div>
