<div class="container">
    <div class="main">
        <div class="title">
            Setting
        </div>
        Home > Setting
        <div class="row">
            <div class="col-md-1">
                First Name : {{user?.details.first_name}}<br/>
                Last Name : {{user?.details.last_name}}<br/>
                Identification Type : {{user?.details.identification_type}}<br/>
                Identification No : {{user?.details.identification_no}}<br/>
                Identification Proof
            </div>
        </div>
    </div>
</div>