<div class="container">
    <div class="main">
        <div class="title">
            Setting
        </div>
        <p class="id-location">Home > Setting</p>
        <div class="col-lg-12">
            <div class="col-lg-3">
                Name<br/>
                Username<br/>
                Email<br/>
                Phone<br/>
                Role
            </div>
            <div class="col-lg-9">
                : {{ user?.name }}<br/>
                : {{ user?.username }}<br/>
                : {{ user?.email }}<br/>
                : {{ user?.phone }}<br/>
                : {{ user?.role }}
            </div>
        </div>
        <br/>
        <a type="button" style="cursor:pointer" (click)="edit(user)"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit</a>
    </div>
</div>

