<div class="container">
	<div class="main">
		<div class="title">
			User
		</div>
		Home > User
		<div class="row">
			<div class="col-md-4 pull-right">
					  		<a class="btn btn-default pull-right" (click)="add()">
					  		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add User</a>
			</div>
		</div>
		<p-dataTable [value]="users" [rows]="10" [paginator]="true">
		    <p-column field="username" header="Username" sortable="true" [filter]="true" filterPlaceholder="Search username"></p-column>
		    <p-column field="email" header="Email" sortable="true" [filter]="true" filterPlaceholder="Search email"></p-column>
		   	<p-column field="phone" header="Phone" sortable="true" [filter]="true" filterPlaceholder="Search phone"></p-column>
		    <p-column field="role" header="Role" sortable="true" [filter]="true" filterPlaceholder="Search role">>
		        <template let-col let-data="rowData" pTemplate="body">
		            <span [style.color]="user[col.field]">{{user[col.field]}}</span>
		        </template>
		    </p-column>
		    <p-column styleClass="col-button" header="action">
		    	<template let-data="rowData" pTemplate="body">
		        	<button type="button" (click)="edit(data)">Edit</button>
		        	<button type="button" (click)="deleteUser(data)">Delete</button>
		    	</template>
		    </p-column>
		</p-dataTable>
	</div>
</div>





