<div class="container">
	<div class="main">
		<div class="title">
			User
		</div>
		Home > User
		<div class="row">
			<div class="col-md-4 pull-right">
				<a class="btn btn-default pull-right" (click)="add()">
				<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add User</a>
			</div>
		</div>
		<p-dataTable [value]="users" [rows]="10" [paginator]="true">
		    <p-column filterMatchMode="contains" field="username" header="Username" sortable="true" [filter]="true" filterPlaceholder="Search username"></p-column>
		    <p-column filterMatchMode="contains" field="email" header="Email" sortable="true" [filter]="true" filterPlaceholder="Search email"></p-column>
		   	<p-column filterMatchMode="contains" field="phone" header="Phone" sortable="true" [filter]="true" filterPlaceholder="Search phone"></p-column>
		    <p-column filterMatchMode="contains" field="role" header="Role" sortable="true" [filter]="true" filterPlaceholder="Search role">>
		        <template let-col let-data="rowData" pTemplate="body">
		            <span [style.color]="data[col.field]">{{data[col.field]}}</span>
		        </template>
		    </p-column>
		    <p-column styleClass="col-button" header="action">
		    	<template let-data="rowData" pTemplate="body">
		    		<a type="button" style="cursor:pointer" (click)="edit(data)"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit</a>
		        	<button type="button" (click)="deleteUser(data)"><i class="fa fa-trash" aria-hidden="true"></i></button>
		    	</template>
		    </p-column>
		</p-dataTable>
	</div>
</div>





