<div class="container">
    <div class="main">
        <div *ngIf="unit">
            <div class="title">
                Unit #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}
            </div>
            <p class="id-location">Home > Residents' Database > #{{unit.address.unit_no}}-{{unit.address.unit_no_2}}</p>
            <div class="row top-block no-margin">
                <a class="btn-underline" (click)="goToUnit()">Back to last page</a>
            </div>
                <div class="row bg-dark no-margin">
                    <div class="col-md-6 col-padding" style="color:#eee;">
                        <h5>General Details</h5>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-gray btn-tab-dark pull-right" ><img class="img-btn" src="../../assets/image/icon_add.png" />&nbsp;Generate Code</a>
                    </div>
                </div>
                <div class="row no-margin" style="border: 1px solid grey; padding: 5px;">
                    <div class="row content">
                        <div class="col-md-4">
                                <b>Unit No :</b>#{{unit.address.unit_no}}-{{unit.address.unit_no_2}}<br>
                                <b>Block :</b>{{unit.address.block_no}}
                            </div>
                            <div class="col-md-4">
                                <span *ngIf="hasLandlord"><b>Owner :</b>{{unit.landlord.username}}<br></span>
                                <b>Status :</b>{{unit.status}}
                            </div>
                            <div class="col-md-4">
                                <b>No of Tenant :</b>{{ unit.tenant.length }}<br>
                                <b>Vehicle :</b> <p *ngIf>{{vehicles.length}}</p>
                            </div>
                    </div>
                </div><br>

                <div class="row bg-dark no-margin">
                    <div class="col-md-6 col-padding" style="color:#eee;">
                        <h5>Resident/Tenant</h5>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-gray btn-tab-dark pull-right" (click)="firstModal.open()"><img class="img-btn" src="../../assets/image/icon_addresident.png"   />&nbsp;Add Resident</a>
                    </div>
                </div>
                <div class="row no-margin">
                   <p-dataTable [value]="residents">
                        <p-column header="no" [style]="{'width':'42px'}" field="i">
                        </p-column>
                        <p-column header="Resident" >
                            <template let-residents="rowData" pTemplate="body">
                                <span *ngIf="residents.resident.username">{{residents.resident.username}}</span>
                            </template>
                        </p-column>
                        <p-column header="Type" sortable="true" field="type">
                        </p-column>
                        <p-column header="Added on" sortable="true">
                            <template let-residents="rowData" pTemplate="body">
                                <span>{{residents.created_at | date:'d/M/y'}}</span>
                            </template>
                        </p-column> 
                        <p-column header="Social page" sortable="true">
                            <template let-residents="rowData" pTemplate="body">
                                <span *ngIf="residents.social_page">{{residents.social_page}}</span>
                                <span *ngIf="!residents.social_page">-</span>
                            </template>
                        </p-column> 
                        <p-column header="Contact No." >
                            <template let-residents="rowData" pTemplate="body">
                                <span *ngIf="residents.resident.phone">{{residents.resident.phone}}<br></span>
                                <span *ngIf="residents.resident.email">{{residents.resident.email}}<br></span>
                            </template>
                        </p-column>
                        <p-column header="Remarks" sortable="true">
                            <template let-residents="rowData" pTemplate="body">
                                <span *ngIf="residents.remarks">{{residents.remarks}}</span>
                                <span *ngIf="!residents.remarks">-</span>
                            </template>
                        </p-column> 
                        <p-column [style]="{'width':'160px'}" header="Action" styleClass="col-button" >
                            <template let-residents="rowData" pTemplate="body">
                                    <a type="button" class="btn-underline"  (click)="openResidentDetail(residents) || residentDetail.open()">View details</a>
                                    <button class="btn btn-trash" type="button" (click)="deleteResidentConfirmation(residents)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div><br>


                <div class="row bg-dark no-margin">
                    <div class="col-md-6 col-padding" style="color:#eee;">
                        <h5>Registered Vehicle</h5>
                    </div>
                    <div class="col-md-6">
                        <button [disabled]="!hasTenants" class="btn btn-gray btn-tab-dark pull-right" (click)="secondModal.open()"><img class="img-btn" src="../../assets/image/icon_addresident.png" />&nbsp;Register Vehicle</button>
                    </div>
                </div>
                <div class="row no-margin">
                   <p-dataTable [value]="vehicles">
                        <p-column header="no" [style]="{'width':'42px'}" field="i">
                        </p-column>
                        <p-column header="License Plate" field="license_plate">
                        </p-column>
                        <p-column header="Owner" sortable="true" field="user">
                        </p-column>
                         <p-column header="Transponder">
                            <template let-vehicles="rowData" pTemplate="body">
                                <span *ngIf="vehicles.transponder">{{vehicles.transponder}}</span>
                                <span *ngIf="!vehicles.transponder">-</span>
                            </template>
                        </p-column> 
                        <p-column header="Document" field="document">
                        </p-column>
                         <p-column header="Registered On" sortable="true">
                            <template let-vehicles="rowData" pTemplate="body">
                                <span>{{vehicles.registered_on | date:'d/M/y'}}</span>
                            </template>
                        </p-column> 
                        <p-column header="Remarks">
                            <template let-vehicles="rowData" pTemplate="body">
                                <span *ngIf="vehicles.remarks">{{vehicles.remarks}}</span>
                                <span *ngIf="!vehicles.remarks">-</span>
                            </template>
                        </p-column> 
                        <p-column  [style]="{'width':'160px'}" header="Action" styleClass="col-button" >
                            <template let-vehicles="rowData" pTemplate="body">
                                    <a type="button" class="btn-underline" (click)="openVehicleDetail(vehicles) || vehicleDetail.open()">View details</a>
                                    <button class="btn btn-trash" type="button" (click)="deleteVehicleConfirmation(vehicles)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div><br>

        <div class="row">
            <modal #firstModal>
                <modal-header>
                    <h5>Adding a Resident</h5>
                </modal-header>
                <modal-content>
                     <form name="form">
                        <div class="form-group">
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="type">Type :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="type" [(ngModel)]="model.type">
                                        <option [selected]="hasLandlord" value="tenant">Tenant</option>
                                        <option [selected]="!hasLandlord" value="landlord">Landlord</option>
                                    </select>
                                    <span *ngIf="!valid" style="color: red">{{errorMessage}}</span>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group">      
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="type">User Option :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="option" [(ngModel)]="model.option">
                                        <option value="new">Create New user</option>
                                        <option value="exist">Select existing user</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div *ngIf="model.option == 'exist'" class="row no-margin">
                                <label  class="control-label col-sm-4" for="type">Choose User for {{model.type}}:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="user" [(ngModel)]="model.user">
                                        <option *ngFor="let u of users" [ngValue]="u._id">{{u.username}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="row no-margin pull-bottom-right">
                            <button  *ngIf="model.option == 'new'" class="btn btn-primary btn-brown" (click)="addResident()">Go to Form</button>
                            <button  *ngIf="model.option == 'exist'" class="btn btn-primary btn-brown" (click)="addExistResident()">Add resident<span>
                                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </span></button>
                            <button class="btn btn-white" (click)="firstModal.close()">Cancel</button>
                        </div>
                    </form>   
                </modal-content>
            </modal>
        </div>  

        <div class="row">
            <modal #secondModal>
                <modal-header>
                    <h5>Register a Vehicle</h5>
                </modal-header>
                <modal-content>
                    <form name="form" [formGroup]="myForm2" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': vehicleSubmitted && !myForm2.controls.license_plate.valid }">
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="license_plate">License Plate :</label>
                                <div class="col-sm-8">
                                    <input license_plate="text" class="form-control" name="license_plate" formControlName="license_plate">
                                    <small style="color: red" [hidden]="myForm2.controls.license_plate.valid || (myForm2.controls.license_plate.pristine && !vehicleSubmitted)">License Plate is required</small>
                                </div>
                            </div>
                        </div>
                         <div class="form-group" [ngClass]="{ 'has-error': vehicleSubmitted && !myForm2.controls.owner.valid }">
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="unit_no">Owner :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="owner" name="owner">
                                        <option *ngFor="let u of residents" [ngValue]="u.resident._id">{{u.resident.username}}</option>
                                    </select>
                                   <small style="color: red" [hidden]="myForm2.controls.owner.valid || (myForm2.controls.owner.pristine && !vehicleSubmitted)">Owner is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="transponder">Transponder :</label>
                                <div class="col-sm-8">
                                    <input  type="text" class="form-control" name="transponder" formControlName="transponder" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="row no-margin">
                                <label class="control-label col-sm-4" for="document">Document :</label>
                                <div class="col-sm-8">
                                    <input type="file" multiple class="upload" name="document" (change)="onChange($event)" />
                                    <p *ngFor="let item of model.document; let i=index ">
                                        <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;  
                                        <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;   
                                        <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                                    </p>
                                    <small style="color: red" [hidden]="model.document.length > 0 || (model.document.length == 0 && !vehicleSubmitted)">Document is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row no-margin">
                                <label  class="control-label col-sm-4" for="remarks">Remarks :</label>
                                <div class="col-sm-8">
                                    <textarea  type="text" class="form-control" name="remarks" formControlName="remarks" placeholder="Remarks here if any"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin pull-bottom-right">
                            <button  class="btn btn-primary btn-brown" (click)="addVehicle(myForm2.value, myForm2.valid)">Add
                                <span>
                                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </span>
                            </button>
                            <button class="btn btn-white" (click)="secondModal.close()">Cancel</button>
                        </div>
                    </form>   
                </modal-content>
            </modal>
        </div>  

        <div class="row">
            <modal #residentDetail>
                <modal-header *ngIf="resident">
                    <h5>Resident/Tenant {{ resident.resident.username }}</h5>
                </modal-header>
                <modal-content *ngIf="resident">
                    <div class="row">
                        <div class="col-md-4">Resident</div>
                        <div class="col-md-8"> <p>: {{ resident.resident.username }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Type</div>
                        <div class="col-md-8"><p>: {{ resident.type }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Added on </div>
                        <div class="col-md-8">
                            <p>: 
                                {{ resident.created_at | date:'fullDate' }} 
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Contact No </div>
                        <div class="col-md-8"><p>: {{resident.resident.phone}}, {{resident.resident.email}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Social Page </div>
                        <div class="col-md-8">
                            <p *ngIf="resident.resident.social_page">: {{ resident.resident.social_page }}</p>
                            <p *ngIf="!resident.resident.social_page">: -</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Remarks </div>
                        <div class="col-md-8">
                            <p *ngIf="resident.resident.social_page">: {{ resident.remarks }}</p>
                            <p *ngIf="!resident.resident.social_page">: -</p>
                        </div>
                    </div>
                </modal-content>
                <modal-footer>
                      <button class="btn btn-default" (click)="residentDetail.close()">Close</button>
                </modal-footer>
            </modal>
        </div>  

        <div class="row">
            <modal #vehicleDetail>
                <modal-header *ngIf="vehicle">
                    <h5>Registered Vehicle {{ vehicle.license_plate }}</h5>
                </modal-header>
                <modal-content *ngIf="vehicle">
                    <div class="row">
                        <div class="col-md-4">License Plate</div>
                        <div class="col-md-8"> <p>: {{ vehicle.license_plate }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Owner</div>
                        <div class="col-md-8"><p>: {{ vehicle.user }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Transponder</div>
                        <div class="col-md-8">
                            <p *ngIf="vehicle.transponder">: {{ vehicle.transponder }}</p>
                            <p *ngIf="!vehicle.transponder">: -</p>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-md-4">Document</div>
                        <div class="col-md-8"><p>: {{ vehicle.document }}</p></div>
                    </div>
                     <div class="row">
                        <div class="col-md-4">Registered on </div>
                        <div class="col-md-8">
                            <p>: {{ vehicle.registered_on | date:'fullDate'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Remarks </div>
                        <div class="col-md-8"><p>: {{ vehicle.remarks }}</p></div>
                    </div>
                </modal-content>
                <modal-footer>
                      <button class="btn btn-default" (click)="vehicleDetail.close()">Close</button>
                </modal-footer>
            </modal>
        </div>  
                 

              
        </div>
    </div>
</div>
