<div class="container">
	<div class="main">
        	<div class="title">
			Guest & Visitor
			</div>
			Home > Guest & Visitors
			{{ tomorrow }}<br>
			{{ afterTomorrow}}
			<div class="row">
				<div class="col-md-4 pull-right">
								<a class="btn btn-default pull-right" ><img class="img-btn" src="../../assets/image/icon_print.png" (click)="viewPdf(petitionPending)" />&nbsp;Print</a>
						  		<button type="button" class="btn btn-default pull-right" (click)="firstModal.open()"><img class="img-btn" src="../../assets/image/icon_add.png"  />&nbsp;Add Visitor/Guest</button>
				</div>
			</div>
			
			<div class="row bg-dark ">
				 <div class="col-md-4 col-md-offset-4">
				 <span class="btn-underline"><img src="../../assets/image/icon_arrowleft_white.png" (click)="previousDay()"></span>
				  <my-date-picker [options]="DateOptions"
                            [selDate]="activeDate" (dateChanged)="onPickerClick($event)"></my-date-picker>
				 <span class="btn-underline"><img src="../../assets/image/icon_arrowright_white.png" (click)="nextDay()"></span>
				 </div>
			</div>
			<div class="row">
			    	<p-dataTable [value]="visitActive" scrollable="true" scrollHeight="380px">
					    <p-column header="No" field="">
						</p-column>
						<p-column header="Visitor/Guest" field="" filterPlaceholder="Search Name">
					    	<template let-visitActive="rowData" pTemplate="body">
					            <span>{{visitActive.visitor.prefix}} {{visitActive.visitor.full_name}}</span>
					        </template>
						</p-column>
						<p-column field="purpose" header="Purpose of visit" ></p-column>
						<p-column header="Vehicle" field="" filterPlaceholder="Search vehicle">
					    	<template let-visitActive="rowData" pTemplate="body">
					            <span>{{visitActive.visitor.vehicle}}</span>
					        </template>
						</p-column>
						<p-column header="Visiting" field="" filterPlaceholder="Search unit no">
					    	<template let-visitActive="rowData" pTemplate="body">
					            <span>{{visitActive.property}}</span>
					        </template>
						</p-column>
						<p-column field="purpose" header="Purpose of visit" ></p-column>
						<p-column field="remarks" header="Remarks" ></p-column>
					    <p-column header="Added by" field="" sortable="true">visitActive
					    	<template let-visitActive="rowData" pTemplate="body">
					            <span class="btn-underline">{{visitActive.created_by}}</span><br>
					            <span class="btn-underline">on {{visitActive.created_at}}</span>
					        </template>
						</p-column>
						<p-column header="Card no" field="" sortable="true">
					    	<template let-visitActive="rowData" pTemplate="body">
					            <span class="btn-underline">{{visitActive.visitor.pass}}</span>
					        </template>
						</p-column>
					    <p-column styleClass="col-button" field="" header="Check in/out">
					    	<template let-visitActive="rowData" pTemplate="body">
					    	<a *ngIf="visitActive.check_in == '' && visitActive.check_out == ''" type="button" class="btn btn-default" (click)="checkIn(visitActive)">IN</a>
					    	<a *ngIf="visitActive.check_in != '' && visitActive.check_out == ''" type="button" class="btn btn-primary" (click)="checkOut(visitActive)">OUT</a>
					    	<!-- <a (click)="viewPdf(petitionPending)" class="btn-underline"><img src="../../assets/image/icon_pdf.png" class="img-btn"/>Pdf</a> -->
					    	</template>
					    </p-column>
					</p-dataTable>
			</div>
       
		<div class="row">
		    
		    <modal #firstModal>
		        <modal-header>
		            <h5>Adding Guest/Visitor</h5>
		        </modal-header>
		        <modal-content>
					<form class="form-horizontal" name="form" [formGroup]="myForm" novalidate (ngSubmit)="registerGuest(myForm.value, myForm.valid)">
						<div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.visitor.controls.full_name.valid }" formGroupName="visitor">
                            <label  class="control-label col-sm-4" for="full_name">Name of Guest/visitor :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="full_name" formControlName="full_name">
                                <small style="color: red" [hidden]="myForm.controls.visitor.controls.full_name.valid || (myForm.controls.visitor.controls.full_name.pristine && !submitted)">Name is required</small>
                            </div>
                        </div>
		                <!-- <div class="form-group" [ngClass]="{ 'has-error':   !vehicle.valid }">
		                    <label class="control-label col-sm-4" for="vehicle">Vehicle :</label>
		                    <div class="col-sm-8">
		                        <input type="text" class="form-control" placeholder="If any" name="vehicle" [(ngModel)]="visit.visitor.vehicle" #vehicle="ngModel" required />
		                        <span *ngIf= " !name.valid" class="help-block">Name is required</span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="control-label col-sm-4" for="sticky">Purpose of visit :</label>
		                    <div class="col-sm-8">
		                        <select class="form-control" name="sticky" [(ngModel)]="visit.purpose">
		                          <option selected value="house_visit">House Visit</option>
		                          <option value="maintenance_work">Maintenance Work</option>
		                        </select>
		                    </div>
		                </div>
		                <div class="form-group" [ngClass]="{ 'has-error':   !vehicle.valid }">
		                    <label class="control-label col-sm-4" for="vehicle">Visiting :</label>
		                    <div class="col-sm-8">
		                        <input type="text" class="form-control" placeholder="If any" name="vehicle" [(ngModel)]="visit.visitor.vehicle" #vehicle="ngModel" required />
		                        <span *ngIf= " !name.valid" class="help-block">Name is required</span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="control-label col-sm-4" for="sticky">Sticky? :</label>
		                    <div class="col-sm-8">
		                        <label><input type="radio" name="sticky" [checked]="stickyStatus == 'yes'" [(ngModel)]="stickyStatus" value='yes'>Yes</label>
		                        <label><input type="radio" name="sticky" [checked]="stickyStatus == 'no'" [(ngModel)]="stickyStatus" value='no'>No</label>     
		                    </div>
		                </div>
		                <div class="form-group" >
		                    <label class="control-label col-sm-4" for="valid_till">Valid till :</label>
		                    <div class="col-sm-8">
		                    <my-date-picker [options]="validTillDateOptions"
                            [selDate]="valid_tillStatus" (dateChanged)="validTillDateChanged($event)"></my-date-picker>
		                       
		                    </div>
		                </div>
		                <div class="pull-right">
		                    <button  class="btn btn-primary" (click)="publishAnnouncement()">Announce</button>
		                    <button class="btn btn-default" (click)="firstModal.close()">Cancel</button>
		                </div> -->
		            </form>   
		        </modal-content>
		        
		    </modal>
		</div>	
	</div>
</div>